In [1]:
import pandas as pd

In [2]:
bank = 'Bank.csv'

In [3]:
bank

'Bank.csv'

In [4]:
df1 = pd.read_csv(bank,sep=';',decimal='.')

In [5]:
df1

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30.0,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2.0,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39.0,services,single,high.school,no,no,no,telephone,may,fri,...,4.0,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191,no
2,25.0,services,married,high.school,no,yes,no,telephone,jun,wed,...,1.0,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38.0,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3.0,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47.0,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1.0,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no
5,32.0,services,single,university.degree,no,no,no,cellular,sep,thu,...,3.0,999,2,failure,-1.1,94.199,-37.5,0.884,4963.6,no
6,32.0,admin.,single,university.degree,no,yes,no,cellular,sep,mon,...,4.0,999,0,nonexistent,-1.1,94.199,-37.5,0.879,4963.6,no
7,41.0,entrepreneur,married,university.degree,unknown,yes,no,cellular,nov,mon,...,2.0,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no
8,31.0,services,divorced,professional.course,no,no,no,cellular,nov,tue,...,1.0,999,1,failure,-0.1,93.200,-42.0,4.153,5195.8,no
9,35.0,blue-collar,married,basic.9y,unknown,no,no,telephone,may,thu,...,1.0,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191,no
10,25.0,services,single,basic.6y,unknown,yes,no,cellular,jul,thu,...,1.0,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no
11,36.0,self-employed,single,basic.4y,no,no,no,cellular,jul,thu,...,1.0,999,0,nonexistent,1.4,93.918,-42.7,4.968,5228.1,no
12,36.0,admin.,married,high.school,no,no,no,telephone,may,wed,...,2.0,999,0,nonexistent,1.1,93.994,-36.4,4.859,5191,no
13,47.0,blue-collar,married,basic.4y,no,yes,no,telephone,jun,thu,...,2.0,999,0,nonexistent,1.4,94.465,-41.8,4.958,5228.1,no
14,29.0,admin.,single,high.school,no,no,no,cellular,may,fri,...,2.0,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
15,27.0,services,single,university.degree,no,no,no,cellular,jul,wed,...,2.0,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,no
16,44.0,admin.,divorced,university.degree,no,no,no,cellular,jul,wed,...,6.0,999,0,nonexistent,1.4,93.918,-42.7,4.957,5228.1,no
17,46.0,admin.,divorced,university.degree,no,yes,no,telephone,jul,mon,...,4.0,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
18,45.0,entrepreneur,married,university.degree,unknown,yes,yes,cellular,aug,mon,...,2.0,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no
19,50.0,blue-collar,married,basic.4y,no,no,yes,cellular,jul,tue,...,1.0,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,yes
20,55.0,services,married,basic.6y,unknown,yes,no,cellular,jul,tue,...,6.0,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
21,39.0,technician,divorced,high.school,no,no,no,cellular,mar,mon,...,1.0,12,2,success,-1.8,93.369,-34.8,0.639,NaN,yes
22,29.0,technician,single,university.degree,no,yes,yes,cellular,aug,wed,...,3.0,999,0,nonexistent,1.4,93.444,-36.1,4.967,5228.1,no
23,40.0,management,married,high.school,no,no,yes,cellular,aug,wed,...,1.0,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no
24,44.0,technician,married,professional.course,unknown,yes,no,telephone,may,fri,...,7.0,999,0,nonexistent,1.1,93.994,-36.4,4.864,5191,no
25,38.0,technician,married,professional.course,no,yes,no,cellular,aug,mon,...,1.0,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,yes
26,36.0,technician,divorced,professional.course,no,no,no,telephone,may,wed,...,1.0,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191,no
27,28.0,blue-collar,married,basic.6y,unknown,no,no,cellular,may,mon,...,2.0,999,1,failure,-1.8,92.893,-46.2,1.299,5099.1,no
28,47.0,admin.,single,unknown,unknown,no,no,telephone,may,thu,...,1.0,999,0,nonexistent,1.1,93.994,-36.4,4.86,5191,no
29,34.0,admin.,married,university.degree,no,no,no,cellular,aug,tue,...,1.0,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4089,25.0,admin.,single,university.degree,no,yes,yes,cellular,oct,fri,...,1.0,999,1,failure,-3.4,92.431,-26.9,0.739,5017.5,yes
4090,43.0,blue-collar,married,basic.4y,unknown,yes,yes,telephone,may,tue,...,2.0,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
4091,38.0,management,married,high.school,unknown,no,no,telephone,may,thu,...,2.0,999,0,nonexistent,1.1,93.994,-36.4,4.86,5191,no
4092,30.0,blue-collar,single,high.school,no,no,no,telephone,jul,wed,...,1.0,999,0,nonexistent,1.4,93.918,-42.7,4.956,5228.1,no
4093,56.0,retired,married,basic.4y,unknown,no,no,cellular,jul,tue,...,3.0,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no
4094,62.0,blue-collar,married,basic.4y,no,yes,no,cellular,nov,mon,...,1.0,6,1,success,-3.4,92.649,-30.1,0.719,5017.5,no
4095,36.0,admin.,single,university.degree,no,no,yes,cellular,aug,fri,...,2.0,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
4096,33.0,services,married,high.school,no,no,no,telephone,may,mon,...,2.0,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
4097,41.0,blue-collar,divorced,basic.9y,no,no,no,cellular,aug,tue,...,1.0,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
4098,34.0,housemaid,single,university.degree,no,yes,no,cellular,aug,thu,...,3.0,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
4099,58.0,admin.,divorced,high.school,no,no,no,cellular,aug,tue,...,1.0,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
4100,41.0,admin.,divorced,high.school,no,no,no,cellular,apr,fri,...,1.0,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,no
4101,35.0,entrepreneur,single,university.degree,no,yes,no,cellular,jul,mon,...,5.0,999,0,nonexistent,1.4,93.918,-42.7,4.96,5228.1,no
4102,31.0,blue-collar,single,basic.9y,unknown,no,yes,telephone,jun,fri,...,2.0,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4103,43.0,services,married,high.school,no,no,no,telephone,may,mon,...,1.0,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
4104,42.0,technician,divorced,professional.course,no,yes,no,cellular,aug,mon,...,1.0,999,0,nonexistent,1.4,93.444,-36.1,4.97,5228.1,no
4105,47.0,housemaid,married,basic.4y,unknown,yes,no,telephone,jul,tue,...,2.0,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no
4106,45.0,entrepreneur,divorced,basic.9y,no,yes,no,cellular,may,tue,...,3.0,999,0,nonexistent,-1.8,92.893,-46.2,1.344,5099.1,no
4107,36.0,admin.,married,university.degree,unknown,yes,no,cellular,aug,wed,...,11.0,999,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1,no
4108,32.0,admin.,married,university.degree,no,yes,no,telephone,may,thu,...,5.0,999,0,nonexistent,-1.8,92.893,-46.2,1.266,5099.1,no
4109,63.0,retired,married,high.school,no,no,no,cellular,oct,wed,...,1.0,999,0,nonexistent,-3.4,92.431,-26.9,0.74,5017.5,no
4110,53.0,housemaid,divorced,basic.6y,unknown,unknown,unknown,telephone,may,fri,...,2.0,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191,no
4111,30.0,technician,married,university.degree,no,no,yes,cellular,jun,fri,...,1.0,999,1,failure,-1.7,94.055,-39.8,0.748,4991.6,no
4112,31.0,technician,single,professional.course,no,yes,no,cellular,nov,thu,...,1.0,999,0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,no
4113,31.0,admin.,single,university.degree,no,yes,no,cellular,nov,thu,...,1.0,999,0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,no
4114,30.0,admin.,married,basic.6y,no,yes,yes,cellular,jul,thu,...,1.0,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no
4115,39.0,admin.,married,high.school,no,yes,no,telephone,jul,fri,...,1.0,999,0,nonexistent,1.4,93.918,-42.7,4.959,5228.1,no
4116,27.0,student,single,high.school,no,no,no,cellular,may,mon,...,2.0,999,1,failure,-1.8,92.893,-46.2,1.354,5099.1,no
4117,58.0,admin.,married,high.school,no,no,no,cellular,aug,fri,...,1.0,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,no
4118,34.0,management,single,high.school,no,yes,no,cellular,nov,wed,...,1.0,999,0,nonexistent,-0.1,93.200,-42.0,4.12,5195.8,no

In [6]:
df1.dtypes

age               float64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration          float64
campaign          float64
pdays              object
previous           object
poutcome           object
emp.var.rate       object
cons.price.idx    float64
cons.conf.idx     float64
euribor3m          object
nr.employed        object
y                  object
dtype: object

TO CONVERT DATA INTO APPROPRIATE DATA TYPES

In [7]:
df1[['age','campaign','pdays','previous','emp.var.rate','cons.price.idx','cons.conf.idx','euribor3m','nr.employed']]=df1[['age','campaign','pdays','previous','emp.var.rate','cons.price.idx','cons.conf.idx','euribor3m','nr.employed']].apply(pd.to_numeric, errors='coerce')

In [8]:
df1.dtypes

age               float64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration          float64
campaign          float64
pdays             float64
previous          float64
poutcome           object
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
y                  object
dtype: object

In [9]:
df1

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30.0,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39.0,services,single,high.school,no,no,no,telephone,may,fri,...,4.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25.0,services,married,high.school,no,yes,no,telephone,jun,wed,...,1.0,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38.0,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3.0,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47.0,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no
5,32.0,services,single,university.degree,no,no,no,cellular,sep,thu,...,3.0,999.0,2.0,failure,-1.1,94.199,-37.5,0.884,4963.6,no
6,32.0,admin.,single,university.degree,no,yes,no,cellular,sep,mon,...,4.0,999.0,0.0,nonexistent,-1.1,94.199,-37.5,0.879,4963.6,no
7,41.0,entrepreneur,married,university.degree,unknown,yes,no,cellular,nov,mon,...,2.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no
8,31.0,services,divorced,professional.course,no,no,no,cellular,nov,tue,...,1.0,999.0,1.0,failure,-0.1,93.200,-42.0,4.153,5195.8,no
9,35.0,blue-collar,married,basic.9y,unknown,no,no,telephone,may,thu,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
10,25.0,services,single,basic.6y,unknown,yes,no,cellular,jul,thu,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no
11,36.0,self-employed,single,basic.4y,no,no,no,cellular,jul,thu,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.968,5228.1,no
12,36.0,admin.,married,high.school,no,no,no,telephone,may,wed,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,no
13,47.0,blue-collar,married,basic.4y,no,yes,no,telephone,jun,thu,...,2.0,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.958,5228.1,no
14,29.0,admin.,single,high.school,no,no,no,cellular,may,fri,...,2.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
15,27.0,services,single,university.degree,no,no,no,cellular,jul,wed,...,2.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,no
16,44.0,admin.,divorced,university.degree,no,no,no,cellular,jul,wed,...,6.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.957,5228.1,no
17,46.0,admin.,divorced,university.degree,no,yes,no,telephone,jul,mon,...,4.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
18,45.0,entrepreneur,married,university.degree,unknown,yes,yes,cellular,aug,mon,...,2.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no
19,50.0,blue-collar,married,basic.4y,no,no,yes,cellular,jul,tue,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,yes
20,55.0,services,married,basic.6y,unknown,yes,no,cellular,jul,tue,...,6.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
21,39.0,technician,divorced,high.school,no,no,no,cellular,mar,mon,...,1.0,12.0,2.0,success,-1.8,93.369,-34.8,0.639,NaN,yes
22,29.0,technician,single,university.degree,no,yes,yes,cellular,aug,wed,...,3.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.967,5228.1,no
23,40.0,management,married,high.school,no,no,yes,cellular,aug,wed,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no
24,44.0,technician,married,professional.course,unknown,yes,no,telephone,may,fri,...,7.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.864,5191.0,no
25,38.0,technician,married,professional.course,no,yes,no,cellular,aug,mon,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,yes
26,36.0,technician,divorced,professional.course,no,no,no,telephone,may,wed,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,no
27,28.0,blue-collar,married,basic.6y,unknown,no,no,cellular,may,mon,...,2.0,999.0,1.0,failure,-1.8,92.893,-46.2,1.299,5099.1,no
28,47.0,admin.,single,unknown,unknown,no,no,telephone,may,thu,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,no
29,34.0,admin.,married,university.degree,no,no,no,cellular,aug,tue,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4089,25.0,admin.,single,university.degree,no,yes,yes,cellular,oct,fri,...,1.0,999.0,1.0,failure,-3.4,92.431,-26.9,0.739,5017.5,yes
4090,43.0,blue-collar,married,basic.4y,unknown,yes,yes,telephone,may,tue,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4091,38.0,management,married,high.school,unknown,no,no,telephone,may,thu,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,no
4092,30.0,blue-collar,single,high.school,no,no,no,telephone,jul,wed,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.956,5228.1,no
4093,56.0,retired,married,basic.4y,unknown,no,no,cellular,jul,tue,...,3.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no
4094,62.0,blue-collar,married,basic.4y,no,yes,no,cellular,nov,mon,...,1.0,6.0,1.0,success,-3.4,92.649,-30.1,0.719,5017.5,no
4095,36.0,admin.,single,university.degree,no,no,yes,cellular,aug,fri,...,2.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
4096,33.0,services,married,high.school,no,no,no,telephone,may,mon,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4097,41.0,blue-collar,divorced,basic.9y,no,no,no,cellular,aug,tue,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
4098,34.0,housemaid,single,university.degree,no,yes,no,cellular,aug,thu,...,3.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
4099,58.0,admin.,divorced,high.school,no,no,no,cellular,aug,tue,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
4100,41.0,admin.,divorced,high.school,no,no,no,cellular,apr,fri,...,1.0,999.0,0.0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,no
4101,35.0,entrepreneur,single,university.degree,no,yes,no,cellular,jul,mon,...,5.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,no
4102,31.0,blue-collar,single,basic.9y,unknown,no,yes,telephone,jun,fri,...,2.0,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4103,43.0,services,married,high.school,no,no,no,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4104,42.0,technician,divorced,professional.course,no,yes,no,cellular,aug,mon,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.970,5228.1,no
4105,47.0,housemaid,married,basic.4y,unknown,yes,no,telephone,jul,tue,...,2.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no
4106,45.0,entrepreneur,divorced,basic.9y,no,yes,no,cellular,may,tue,...,3.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.344,5099.1,no
4107,36.0,admin.,married,university.degree,unknown,yes,no,cellular,aug,wed,...,11.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.964,5228.1,no
4108,32.0,admin.,married,university.degree,no,yes,no,telephone,may,thu,...,5.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.266,5099.1,no
4109,63.0,retired,married,high.school,no,no,no,cellular,oct,wed,...,1.0,999.0,0.0,nonexistent,-3.4,92.431,-26.9,0.740,5017.5,no
4110,53.0,housemaid,divorced,basic.6y,unknown,unknown,unknown,telephone,may,fri,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
4111,30.0,technician,married,university.degree,no,no,yes,cellular,jun,fri,...,1.0,999.0,1.0,failure,-1.7,94.055,-39.8,0.748,4991.6,no
4112,31.0,technician,single,professional.course,no,yes,no,cellular,nov,thu,...,1.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,no
4113,31.0,admin.,single,university.degree,no,yes,no,cellular,nov,thu,...,1.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,no
4114,30.0,admin.,married,basic.6y,no,yes,yes,cellular,jul,thu,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no
4115,39.0,admin.,married,high.school,no,yes,no,telephone,jul,fri,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.959,5228.1,no
4116,27.0,student,single,high.school,no,no,no,cellular,may,mon,...,2.0,999.0,1.0,failure,-1.8,92.893,-46.2,1.354,5099.1,no
4117,58.0,admin.,married,high.school,no,no,no,cellular,aug,fri,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,no
4118,34.0,management,single,high.school,no,yes,no,cellular,nov,wed,...,1.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,no

TO CHECK FOR IMPOSSIBLE VALUES

In [10]:
df1_age=df1[df1['age']>100]

In [11]:
df1_age

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
385,143.0,unemployed,married,basic.4y,no,no,no,cellular,may,wed,...,2.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.334,5099.1,no
394,250.0,admin.,married,basic.9y,no,no,no,cellular,aug,thu,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.968,5228.1,no

IGNORING IMPOSSIBLE VALUES BY DROPPING THEM

In [12]:
df1=df1.drop(df1_age.index, axis=0)

In [13]:
df1.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,4114.000000,4117.000000,4117.000000,4116.000000,4115.000000,4116.000000,4113.000000,4116.000000,4113.000000,4111.000000
mean,40.112543,256.849186,3.043234,959.657094,0.192043,0.119518,93.492578,-39.197694,6.130729,5166.518317
std,10.317980,255.075651,22.155105,193.773686,0.547183,2.663975,3.328538,82.255253,113.792866,73.656182
min,18.000000,0.000000,0.000000,-36.400000,0.000000,-42.700000,-46.200000,-50.800000,0.635000,4963.600000
25%,32.000000,103.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.334000,5099.100000
50%,38.000000,181.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.000000,317.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,88.000000,3643.000000,999.000000,999.000000,6.000000,93.444000,94.767000,5228.100000,5228.100000,5228.100000

CHECKING FOR TYPOS

In [14]:
df1['job'].value_counts()

admin.           1011
blue-collar       884
technician        691
services          393
management        324
retired           166
self-employed     159
entrepreneur      148
housemaid         110
unemployed        110
student            82
unknown            39
Name: job, dtype: int64

In [15]:
df1['job']=df1['job'].str.replace('admin.','admin')

In [16]:
df1['job'].value_counts()

admin            1011
blue-collar       884
technician        691
services          393
management        324
retired           166
self-employed     159
entrepreneur      148
housemaid         110
unemployed        110
student            82
unknown            39
Name: job, dtype: int64

In [17]:
df1['marital'].value_counts()

married                  2507
single                   1153
divorced                  445
unknown                    11
divorceded”;”basic.9y       1
Name: marital, dtype: int64

In [18]:
df1['marital']=df1['marital'].str.replace('divorceded”;”basic.9y','divorced')

In [19]:
df1['marital'].value_counts()

married     2507
single      1153
divorced     446
unknown       11
Name: marital, dtype: int64

In [20]:
df1['education'].value_counts()

university.degree      1264
high.school             921
basic.9y                572
professional.course     535
basic.4y                428
basic.6y                227
unknown                 167
no                        1
illiterate                1
basic.6yes”;”no           1
Name: education, dtype: int64

In [21]:
df1['education']=df1['education'].str.replace('basic.6yes”;”no','basic.6y')

In [22]:
df1['education']=df1['education'].str.replace('no','illiterate')

In [23]:
df1['education'].value_counts()

university.degree      1264
high.school             921
basic.9y                572
professional.course     535
basic.4y                428
basic.6y                228
unkilliteratewn         167
illiterate                2
Name: education, dtype: int64

In [24]:
df1['education'] = df1['education'].str.replace('unkilliteratewn','illiterate')

In [25]:
df1['education'].value_counts()

university.degree      1264
high.school             921
basic.9y                572
professional.course     535
basic.4y                428
basic.6y                228
illiterate              169
Name: education, dtype: int64

In [26]:
df1['default'].value_counts()

no            3310
unknown        803
yes              2
yess”;”yes       1
noo”;”yes        1
Name: default, dtype: int64

In [27]:
df1['default']=df1['default'].str.replace('yess”;”yes','yes')

In [28]:
df1['default']=df1['default'].str.replace('noo”;”yes','no')

In [29]:
df1['default'].value_counts()

no         3311
unknown     803
yes           3
Name: default, dtype: int64

In [30]:
df1['housing'].value_counts()

yes         2173
no          1838
unknown      105
cellular       1
Name: housing, dtype: int64

In [31]:
df1['housing']=df1['housing'].str.replace('cellular','yes')

In [32]:
df1['housing'].value_counts()

yes        2174
no         1838
unknown     105
Name: housing, dtype: int64

In [33]:
df1['loan'].value_counts()

no          3346
yes          663
unknown      105
cellular       2
jul            1
Name: loan, dtype: int64

In [34]:
df1['loan']=df1['loan'].str.replace('cellular','no')

In [35]:
df1['loan']=df1['loan'].str.replace('jul','yes')

In [36]:
df1['loan'].value_counts()

no         3348
yes         664
unknown     105
Name: loan, dtype: int64

In [37]:
df1['contact'].value_counts()

cellular     2647
telephone    1467
may             1
mon             1
aug             1
Name: contact, dtype: int64

In [38]:
df1['contact']=df1['contact'].str.replace('may','cellular')

In [39]:
df1['contact']=df1['contact'].str.replace('mon','cellular')

In [40]:
df1['contact']=df1['contact'].str.replace('aug','telephone')

In [41]:
df1['contact'].value_counts()

cellular     2649
telephone    1468
Name: contact, dtype: int64

In [42]:
df1['month'].value_counts()

may    1376
jul     710
aug     634
jun     530
nov     446
apr     215
oct      69
sep      64
mar      48
dec      22
thu       1
tue       1
298       1
Name: month, dtype: int64

In [43]:
df1['month']=df1['month'].str.replace('thu','may')

In [44]:
df1['month']=df1['month'].str.replace('tue','may')

In [45]:
df1['month']=df1['month'].str.replace('298','jul')

In [46]:
df1['month'].value_counts()

may    1378
jul     711
aug     634
jun     530
nov     446
apr     215
oct      69
sep      64
mar      48
dec      22
Name: month, dtype: int64

In [47]:
df1['day_of_week'].value_counts()

thu                            857
mon                            854
tue                            840
wed                            794
fri                            768
102                              1
3                                1
275                              1
thu”;-;1;999;0;nonexistent"      1
Name: day_of_week, dtype: int64

In [48]:
df1['day_of_week']=df1['day_of_week'].str.replace('102','mon')

In [49]:
df1['day_of_week']=df1['day_of_week'].str.replace('3','thu')

In [50]:
df1['day_of_week']=df1['day_of_week'].str.replace('275','mon')

In [51]:
df1['day_of_week']=df1['day_of_week'].str.replace('thu”;-;1;999;0;nonexistent"','thu')

In [52]:
df1['day_of_week'].value_counts()

thu    859
mon    856
tue    840
wed    794
fri    768
Name: day_of_week, dtype: int64

In [53]:
df1['poutcome'].value_counts()

nonexistent    3517
failure         454
success         142
5191              1
1.4               1
-1.8              1
93.918            1
Name: poutcome, dtype: int64

In [54]:
df1['poutcome']=df1['poutcome'].str.replace('5191','nonexistent')

In [55]:
df1['poutcome']=df1['poutcome'].str.replace('1.4','failure')

In [56]:
df1['poutcome']=df1['poutcome'].str.replace('-1.8','success')

In [57]:
df1['poutcome']=df1['poutcome'].str.replace('93.918','nonexistent')

In [58]:
df1['poutcome'].value_counts()

nonexistent    3519
failure         455
success         143
Name: poutcome, dtype: int64

In [59]:
df1['y'].value_counts()

no     3662
yes     451
Name: y, dtype: int64

In [60]:
df1

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30.0,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39.0,services,single,high.school,no,no,no,telephone,may,fri,...,4.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25.0,services,married,high.school,no,yes,no,telephone,jun,wed,...,1.0,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38.0,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3.0,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47.0,admin,married,university.degree,no,yes,no,cellular,nov,mon,...,1.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no
5,32.0,services,single,university.degree,no,no,no,cellular,sep,thu,...,3.0,999.0,2.0,failure,-1.1,94.199,-37.5,0.884,4963.6,no
6,32.0,admin,single,university.degree,no,yes,no,cellular,sep,mon,...,4.0,999.0,0.0,nonexistent,-1.1,94.199,-37.5,0.879,4963.6,no
7,41.0,entrepreneur,married,university.degree,unknown,yes,no,cellular,nov,mon,...,2.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no
8,31.0,services,divorced,professional.course,no,no,no,cellular,nov,tue,...,1.0,999.0,1.0,failure,-0.1,93.200,-42.0,4.153,5195.8,no
9,35.0,blue-collar,married,basic.9y,unknown,no,no,telephone,may,thu,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
10,25.0,services,single,basic.6y,unknown,yes,no,cellular,jul,thu,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no
11,36.0,self-employed,single,basic.4y,no,no,no,cellular,jul,thu,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.968,5228.1,no
12,36.0,admin,married,high.school,no,no,no,telephone,may,wed,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,no
13,47.0,blue-collar,married,basic.4y,no,yes,no,telephone,jun,thu,...,2.0,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.958,5228.1,no
14,29.0,admin,single,high.school,no,no,no,cellular,may,fri,...,2.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
15,27.0,services,single,university.degree,no,no,no,cellular,jul,wed,...,2.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,no
16,44.0,admin,divorced,university.degree,no,no,no,cellular,jul,wed,...,6.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.957,5228.1,no
17,46.0,admin,divorced,university.degree,no,yes,no,telephone,jul,mon,...,4.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
18,45.0,entrepreneur,married,university.degree,unknown,yes,yes,cellular,aug,mon,...,2.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no
19,50.0,blue-collar,married,basic.4y,no,no,yes,cellular,jul,tue,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,yes
20,55.0,services,married,basic.6y,unknown,yes,no,cellular,jul,tue,...,6.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
21,39.0,technician,divorced,high.school,no,no,no,cellular,mar,mon,...,1.0,12.0,2.0,success,-1.8,93.369,-34.8,0.639,NaN,yes
22,29.0,technician,single,university.degree,no,yes,yes,cellular,aug,wed,...,3.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.967,5228.1,no
23,40.0,management,married,high.school,no,no,yes,cellular,aug,wed,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no
24,44.0,technician,married,professional.course,unknown,yes,no,telephone,may,fri,...,7.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.864,5191.0,no
25,38.0,technician,married,professional.course,no,yes,no,cellular,aug,mon,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,yes
26,36.0,technician,divorced,professional.course,no,no,no,telephone,may,wed,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,no
27,28.0,blue-collar,married,basic.6y,unknown,no,no,cellular,may,mon,...,2.0,999.0,1.0,failure,-1.8,92.893,-46.2,1.299,5099.1,no
28,47.0,admin,single,illiterate,unknown,no,no,telephone,may,thu,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,no
29,34.0,admin,married,university.degree,no,no,no,cellular,aug,tue,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4089,25.0,admin,single,university.degree,no,yes,yes,cellular,oct,fri,...,1.0,999.0,1.0,failure,-3.4,92.431,-26.9,0.739,5017.5,yes
4090,43.0,blue-collar,married,basic.4y,unknown,yes,yes,telephone,may,tue,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4091,38.0,management,married,high.school,unknown,no,no,telephone,may,thu,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,no
4092,30.0,blue-collar,single,high.school,no,no,no,telephone,jul,wed,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.956,5228.1,no
4093,56.0,retired,married,basic.4y,unknown,no,no,cellular,jul,tue,...,3.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no
4094,62.0,blue-collar,married,basic.4y,no,yes,no,cellular,nov,mon,...,1.0,6.0,1.0,success,-3.4,92.649,-30.1,0.719,5017.5,no
4095,36.0,admin,single,university.degree,no,no,yes,cellular,aug,fri,...,2.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
4096,33.0,services,married,high.school,no,no,no,telephone,may,mon,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4097,41.0,blue-collar,divorced,basic.9y,no,no,no,cellular,aug,tue,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
4098,34.0,housemaid,single,university.degree,no,yes,no,cellular,aug,thu,...,3.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
4099,58.0,admin,divorced,high.school,no,no,no,cellular,aug,tue,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
4100,41.0,admin,divorced,high.school,no,no,no,cellular,apr,fri,...,1.0,999.0,0.0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,no
4101,35.0,entrepreneur,single,university.degree,no,yes,no,cellular,jul,mon,...,5.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,no
4102,31.0,blue-collar,single,basic.9y,unknown,no,yes,telephone,jun,fri,...,2.0,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4103,43.0,services,married,high.school,no,no,no,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4104,42.0,technician,divorced,professional.course,no,yes,no,cellular,aug,mon,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.970,5228.1,no
4105,47.0,housemaid,married,basic.4y,unknown,yes,no,telephone,jul,tue,...,2.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no
4106,45.0,entrepreneur,divorced,basic.9y,no,yes,no,cellular,may,tue,...,3.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.344,5099.1,no
4107,36.0,admin,married,university.degree,unknown,yes,no,cellular,aug,wed,...,11.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.964,5228.1,no
4108,32.0,admin,married,university.degree,no,yes,no,telephone,may,thu,...,5.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.266,5099.1,no
4109,63.0,retired,married,high.school,no,no,no,cellular,oct,wed,...,1.0,999.0,0.0,nonexistent,-3.4,92.431,-26.9,0.740,5017.5,no
4110,53.0,housemaid,divorced,basic.6y,unknown,unknown,unknown,telephone,may,fri,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
4111,30.0,technician,married,university.degree,no,no,yes,cellular,jun,fri,...,1.0,999.0,1.0,failure,-1.7,94.055,-39.8,0.748,4991.6,no
4112,31.0,technician,single,professional.course,no,yes,no,cellular,nov,thu,...,1.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,no
4113,31.0,admin,single,university.degree,no,yes,no,cellular,nov,thu,...,1.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,no
4114,30.0,admin,married,basic.6y,no,yes,yes,cellular,jul,thu,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no
4115,39.0,admin,married,high.school,no,yes,no,telephone,jul,fri,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.959,5228.1,no
4116,27.0,student,single,high.school,no,no,no,cellular,may,mon,...,2.0,999.0,1.0,failure,-1.8,92.893,-46.2,1.354,5099.1,no
4117,58.0,admin,married,high.school,no,no,no,cellular,aug,fri,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,no
4118,34.0,management,single,high.school,no,yes,no,cellular,nov,wed,...,1.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,no

TO REMOVE WHITE SPACES

In [61]:
df1['job'].str.strip()

0         blue-collar
1            services
2            services
3            services
4               admin
5            services
6               admin
7        entrepreneur
8            services
9         blue-collar
10           services
11      self-employed
12              admin
13        blue-collar
14              admin
15           services
16              admin
17              admin
18       entrepreneur
19        blue-collar
20           services
21         technician
22         technician
23         management
24         technician
25         technician
26         technician
27        blue-collar
28              admin
29              admin
            ...
4089            admin
4090      blue-collar
4091       management
4092      blue-collar
4093          retired
4094      blue-collar
4095            admin
4096         services
4097      blue-collar
4098        housemaid
4099            admin
4100            admin
4101     entrepreneur
4102      blue-collar
4103         services
4104       technician
4105        housemaid
4106     entrepreneur
4107            admin
4108            admin
4109          retired
4110        housemaid
4111       technician
4112       technician
4113            admin
4114            admin
4115            admin
4116          student
4117            admin
4118       management
Name: job, Length: 4117, dtype: object

In [62]:
df1['marital'].str.strip()

0        married
1         single
2        married
3        married
4        married
5         single
6         single
7        married
8       divorced
9        married
10        single
11        single
12       married
13       married
14        single
15        single
16      divorced
17      divorced
18       married
19       married
20       married
21      divorced
22        single
23       married
24       married
25       married
26      divorced
27       married
28        single
29       married
          ...
4089      single
4090     married
4091     married
4092      single
4093     married
4094     married
4095      single
4096     married
4097    divorced
4098      single
4099    divorced
4100    divorced
4101      single
4102      single
4103     married
4104    divorced
4105     married
4106    divorced
4107     married
4108     married
4109     married
4110    divorced
4111     married
4112      single
4113      single
4114     married
4115     married
4116      single
4117     married
4118      single
Name: marital, Length: 4117, dtype: object

In [63]:
df1['education'].str.strip()

0                  basic.9y
1               high.school
2               high.school
3                  basic.9y
4         university.degree
5         university.degree
6         university.degree
7         university.degree
8       professional.course
9                  basic.9y
10                 basic.6y
11                 basic.4y
12              high.school
13                 basic.4y
14              high.school
15        university.degree
16        university.degree
17        university.degree
18        university.degree
19                 basic.4y
20                 basic.6y
21              high.school
22        university.degree
23              high.school
24      professional.course
25      professional.course
26      professional.course
27                 basic.6y
28               illiterate
29        university.degree
               ...
4089      university.degree
4090               basic.4y
4091            high.school
4092            high.school
4093               basic.4y
4094               basic.4y
4095      university.degree
4096            high.school
4097               basic.9y
4098      university.degree
4099            high.school
4100            high.school
4101      university.degree
4102               basic.9y
4103            high.school
4104    professional.course
4105               basic.4y
4106               basic.9y
4107      university.degree
4108      university.degree
4109            high.school
4110               basic.6y
4111      university.degree
4112    professional.course
4113      university.degree
4114               basic.6y
4115            high.school
4116            high.school
4117            high.school
4118            high.school
Name: education, Length: 4117, dtype: object

In [64]:
df1['default'].str.strip()

0            no
1            no
2            no
3            no
4            no
5            no
6            no
7       unknown
8            no
9       unknown
10      unknown
11           no
12           no
13           no
14           no
15           no
16           no
17           no
18      unknown
19           no
20      unknown
21           no
22           no
23           no
24      unknown
25           no
26           no
27      unknown
28      unknown
29           no
         ...
4089         no
4090    unknown
4091    unknown
4092         no
4093    unknown
4094         no
4095         no
4096         no
4097         no
4098         no
4099         no
4100         no
4101         no
4102    unknown
4103         no
4104         no
4105    unknown
4106         no
4107    unknown
4108         no
4109         no
4110    unknown
4111         no
4112         no
4113         no
4114         no
4115         no
4116         no
4117         no
4118         no
Name: default, Length: 4117, dtype: object

In [65]:
df1['housing'].str.strip()

0           yes
1            no
2           yes
3       unknown
4           yes
5            no
6           yes
7           yes
8            no
9            no
10          yes
11           no
12           no
13          yes
14           no
15           no
16           no
17          yes
18          yes
19           no
20          yes
21           no
22          yes
23           no
24          yes
25          yes
26           no
27           no
28           no
29           no
         ...
4089        yes
4090        yes
4091         no
4092         no
4093         no
4094        yes
4095         no
4096         no
4097         no
4098        yes
4099         no
4100         no
4101        yes
4102         no
4103         no
4104        yes
4105        yes
4106        yes
4107        yes
4108        yes
4109         no
4110    unknown
4111         no
4112        yes
4113        yes
4114        yes
4115        yes
4116         no
4117         no
4118        yes
Name: housing, Length: 4117, dtype: object

In [66]:
df1['loan'].str.strip()

0            no
1            no
2            no
3       unknown
4            no
5            no
6            no
7            no
8            no
9            no
10           no
11           no
12           no
13           no
14           no
15           no
16           no
17           no
18          yes
19          yes
20           no
21           no
22          yes
23          yes
24           no
25           no
26           no
27           no
28           no
29           no
         ...
4089        yes
4090        yes
4091         no
4092         no
4093         no
4094         no
4095        yes
4096         no
4097         no
4098         no
4099         no
4100         no
4101         no
4102        yes
4103         no
4104         no
4105         no
4106         no
4107         no
4108         no
4109         no
4110    unknown
4111        yes
4112         no
4113         no
4114        yes
4115         no
4116         no
4117         no
4118         no
Name: loan, Length: 4117, dtype: object

In [67]:
df1['contact'].str.strip()

0        cellular
1       telephone
2       telephone
3       telephone
4        cellular
5        cellular
6        cellular
7        cellular
8        cellular
9       telephone
10       cellular
11       cellular
12      telephone
13      telephone
14       cellular
15       cellular
16       cellular
17      telephone
18       cellular
19       cellular
20       cellular
21       cellular
22       cellular
23       cellular
24      telephone
25       cellular
26      telephone
27       cellular
28      telephone
29       cellular
          ...
4089     cellular
4090    telephone
4091    telephone
4092    telephone
4093     cellular
4094     cellular
4095     cellular
4096    telephone
4097     cellular
4098     cellular
4099     cellular
4100     cellular
4101     cellular
4102    telephone
4103    telephone
4104     cellular
4105    telephone
4106     cellular
4107     cellular
4108    telephone
4109     cellular
4110    telephone
4111     cellular
4112     cellular
4113     cellular
4114     cellular
4115    telephone
4116     cellular
4117     cellular
4118     cellular
Name: contact, Length: 4117, dtype: object

In [68]:
df1['month'].str.strip()

0       may
1       may
2       jun
3       jun
4       nov
5       sep
6       sep
7       nov
8       nov
9       may
10      jul
11      jul
12      may
13      jun
14      may
15      jul
16      jul
17      jul
18      aug
19      jul
20      jul
21      mar
22      aug
23      aug
24      may
25      aug
26      may
27      may
28      may
29      aug
       ...
4089    oct
4090    may
4091    may
4092    jul
4093    jul
4094    nov
4095    aug
4096    may
4097    aug
4098    aug
4099    aug
4100    apr
4101    jul
4102    jun
4103    may
4104    aug
4105    jul
4106    may
4107    aug
4108    may
4109    oct
4110    may
4111    jun
4112    nov
4113    nov
4114    jul
4115    jul
4116    may
4117    aug
4118    nov
Name: month, Length: 4117, dtype: object

In [69]:
df1['day_of_week'].str.strip()

0       fri
1       fri
2       wed
3       fri
4       mon
5       thu
6       mon
7       mon
8       tue
9       thu
10      thu
11      thu
12      wed
13      thu
14      fri
15      wed
16      wed
17      mon
18      mon
19      tue
20      tue
21      mon
22      wed
23      wed
24      fri
25      mon
26      wed
27      mon
28      thu
29      tue
       ...
4089    fri
4090    tue
4091    thu
4092    wed
4093    tue
4094    mon
4095    fri
4096    mon
4097    tue
4098    thu
4099    tue
4100    fri
4101    mon
4102    fri
4103    mon
4104    mon
4105    tue
4106    tue
4107    wed
4108    thu
4109    wed
4110    fri
4111    fri
4112    thu
4113    thu
4114    thu
4115    fri
4116    mon
4117    fri
4118    wed
Name: day_of_week, Length: 4117, dtype: object

In [70]:
df1['poutcome'].str.strip()

0       nonexistent
1       nonexistent
2       nonexistent
3       nonexistent
4       nonexistent
5           failure
6       nonexistent
7       nonexistent
8           failure
9       nonexistent
10      nonexistent
11      nonexistent
12      nonexistent
13      nonexistent
14      nonexistent
15      nonexistent
16      nonexistent
17      nonexistent
18      nonexistent
19      nonexistent
20      nonexistent
21          success
22      nonexistent
23      nonexistent
24      nonexistent
25      nonexistent
26      nonexistent
27          failure
28      nonexistent
29      nonexistent
           ...
4089        failure
4090    nonexistent
4091    nonexistent
4092    nonexistent
4093    nonexistent
4094        success
4095    nonexistent
4096    nonexistent
4097    nonexistent
4098    nonexistent
4099    nonexistent
4100    nonexistent
4101    nonexistent
4102    nonexistent
4103    nonexistent
4104    nonexistent
4105    nonexistent
4106    nonexistent
4107    nonexistent
4108    nonexistent
4109    nonexistent
4110    nonexistent
4111        failure
4112    nonexistent
4113    nonexistent
4114    nonexistent
4115    nonexistent
4116        failure
4117    nonexistent
4118    nonexistent
Name: poutcome, Length: 4117, dtype: object

In [71]:
df1['y'].str.strip()

0        no
1        no
2        no
3        no
4        no
5        no
6        no
7        no
8        no
9        no
10       no
11       no
12       no
13       no
14       no
15       no
16       no
17       no
18       no
19      yes
20       no
21      yes
22       no
23       no
24       no
25      yes
26       no
27       no
28       no
29       no
       ...
4089    yes
4090     no
4091     no
4092     no
4093     no
4094     no
4095     no
4096     no
4097     no
4098     no
4099     no
4100     no
4101     no
4102     no
4103     no
4104     no
4105     no
4106     no
4107     no
4108     no
4109     no
4110     no
4111     no
4112     no
4113     no
4114     no
4115     no
4116     no
4117     no
4118     no
Name: y, Length: 4117, dtype: object

In [72]:
df1

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30.0,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39.0,services,single,high.school,no,no,no,telephone,may,fri,...,4.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25.0,services,married,high.school,no,yes,no,telephone,jun,wed,...,1.0,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38.0,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3.0,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47.0,admin,married,university.degree,no,yes,no,cellular,nov,mon,...,1.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no
5,32.0,services,single,university.degree,no,no,no,cellular,sep,thu,...,3.0,999.0,2.0,failure,-1.1,94.199,-37.5,0.884,4963.6,no
6,32.0,admin,single,university.degree,no,yes,no,cellular,sep,mon,...,4.0,999.0,0.0,nonexistent,-1.1,94.199,-37.5,0.879,4963.6,no
7,41.0,entrepreneur,married,university.degree,unknown,yes,no,cellular,nov,mon,...,2.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no
8,31.0,services,divorced,professional.course,no,no,no,cellular,nov,tue,...,1.0,999.0,1.0,failure,-0.1,93.200,-42.0,4.153,5195.8,no
9,35.0,blue-collar,married,basic.9y,unknown,no,no,telephone,may,thu,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
10,25.0,services,single,basic.6y,unknown,yes,no,cellular,jul,thu,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no
11,36.0,self-employed,single,basic.4y,no,no,no,cellular,jul,thu,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.968,5228.1,no
12,36.0,admin,married,high.school,no,no,no,telephone,may,wed,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,no
13,47.0,blue-collar,married,basic.4y,no,yes,no,telephone,jun,thu,...,2.0,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.958,5228.1,no
14,29.0,admin,single,high.school,no,no,no,cellular,may,fri,...,2.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
15,27.0,services,single,university.degree,no,no,no,cellular,jul,wed,...,2.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,no
16,44.0,admin,divorced,university.degree,no,no,no,cellular,jul,wed,...,6.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.957,5228.1,no
17,46.0,admin,divorced,university.degree,no,yes,no,telephone,jul,mon,...,4.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
18,45.0,entrepreneur,married,university.degree,unknown,yes,yes,cellular,aug,mon,...,2.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no
19,50.0,blue-collar,married,basic.4y,no,no,yes,cellular,jul,tue,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,yes
20,55.0,services,married,basic.6y,unknown,yes,no,cellular,jul,tue,...,6.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
21,39.0,technician,divorced,high.school,no,no,no,cellular,mar,mon,...,1.0,12.0,2.0,success,-1.8,93.369,-34.8,0.639,NaN,yes
22,29.0,technician,single,university.degree,no,yes,yes,cellular,aug,wed,...,3.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.967,5228.1,no
23,40.0,management,married,high.school,no,no,yes,cellular,aug,wed,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no
24,44.0,technician,married,professional.course,unknown,yes,no,telephone,may,fri,...,7.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.864,5191.0,no
25,38.0,technician,married,professional.course,no,yes,no,cellular,aug,mon,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,yes
26,36.0,technician,divorced,professional.course,no,no,no,telephone,may,wed,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,no
27,28.0,blue-collar,married,basic.6y,unknown,no,no,cellular,may,mon,...,2.0,999.0,1.0,failure,-1.8,92.893,-46.2,1.299,5099.1,no
28,47.0,admin,single,illiterate,unknown,no,no,telephone,may,thu,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,no
29,34.0,admin,married,university.degree,no,no,no,cellular,aug,tue,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4089,25.0,admin,single,university.degree,no,yes,yes,cellular,oct,fri,...,1.0,999.0,1.0,failure,-3.4,92.431,-26.9,0.739,5017.5,yes
4090,43.0,blue-collar,married,basic.4y,unknown,yes,yes,telephone,may,tue,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4091,38.0,management,married,high.school,unknown,no,no,telephone,may,thu,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,no
4092,30.0,blue-collar,single,high.school,no,no,no,telephone,jul,wed,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.956,5228.1,no
4093,56.0,retired,married,basic.4y,unknown,no,no,cellular,jul,tue,...,3.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no
4094,62.0,blue-collar,married,basic.4y,no,yes,no,cellular,nov,mon,...,1.0,6.0,1.0,success,-3.4,92.649,-30.1,0.719,5017.5,no
4095,36.0,admin,single,university.degree,no,no,yes,cellular,aug,fri,...,2.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
4096,33.0,services,married,high.school,no,no,no,telephone,may,mon,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4097,41.0,blue-collar,divorced,basic.9y,no,no,no,cellular,aug,tue,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
4098,34.0,housemaid,single,university.degree,no,yes,no,cellular,aug,thu,...,3.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
4099,58.0,admin,divorced,high.school,no,no,no,cellular,aug,tue,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
4100,41.0,admin,divorced,high.school,no,no,no,cellular,apr,fri,...,1.0,999.0,0.0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,no
4101,35.0,entrepreneur,single,university.degree,no,yes,no,cellular,jul,mon,...,5.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,no
4102,31.0,blue-collar,single,basic.9y,unknown,no,yes,telephone,jun,fri,...,2.0,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4103,43.0,services,married,high.school,no,no,no,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4104,42.0,technician,divorced,professional.course,no,yes,no,cellular,aug,mon,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.970,5228.1,no
4105,47.0,housemaid,married,basic.4y,unknown,yes,no,telephone,jul,tue,...,2.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no
4106,45.0,entrepreneur,divorced,basic.9y,no,yes,no,cellular,may,tue,...,3.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.344,5099.1,no
4107,36.0,admin,married,university.degree,unknown,yes,no,cellular,aug,wed,...,11.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.964,5228.1,no
4108,32.0,admin,married,university.degree,no,yes,no,telephone,may,thu,...,5.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.266,5099.1,no
4109,63.0,retired,married,high.school,no,no,no,cellular,oct,wed,...,1.0,999.0,0.0,nonexistent,-3.4,92.431,-26.9,0.740,5017.5,no
4110,53.0,housemaid,divorced,basic.6y,unknown,unknown,unknown,telephone,may,fri,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
4111,30.0,technician,married,university.degree,no,no,yes,cellular,jun,fri,...,1.0,999.0,1.0,failure,-1.7,94.055,-39.8,0.748,4991.6,no
4112,31.0,technician,single,professional.course,no,yes,no,cellular,nov,thu,...,1.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,no
4113,31.0,admin,single,university.degree,no,yes,no,cellular,nov,thu,...,1.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,no
4114,30.0,admin,married,basic.6y,no,yes,yes,cellular,jul,thu,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no
4115,39.0,admin,married,high.school,no,yes,no,telephone,jul,fri,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.959,5228.1,no
4116,27.0,student,single,high.school,no,no,no,cellular,may,mon,...,2.0,999.0,1.0,failure,-1.8,92.893,-46.2,1.354,5099.1,no
4117,58.0,admin,married,high.school,no,no,no,cellular,aug,fri,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,no
4118,34.0,management,single,high.school,no,yes,no,cellular,nov,wed,...,1.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,no

TO CHECK FOR IMPOSSIBLE VALUES

In [73]:
df1['campaign'].value_counts()

1.000      1761
2.000      1038
3.000       548
4.000       291
5.000       142
6.000        98
7.000        60
8.000        36
9.000        32
10.000       20
11.000       19
12.000       16
17.000       14
13.000       11
16.000        7
14.000        6
29.000        2
23.000        2
19.000        2
22.000        2
15.000        2
999.000       2
18.000        1
93.994        1
27.000        1
24.000        1
35.000        1
0.000         1
Name: campaign, dtype: int64

In [74]:
fake_campaign=df1[df1['campaign']== 999.000]

In [75]:
fake_campaign

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
569,33.0,admin,single,university.degree,no,yes,no,telephone,may,mon,...,999.0,0.0,NaN,failure,93.444,-36.1,4.963,5228.1,NaN,NaN
650,41.0,blue-collar,divorced,illiterate,yes,no,no,cellular,may,mon,...,999.0,0.0,NaN,success,92.893,-46.2,1.327,5099.1,NaN,NaN

In [76]:
df1 = df1.drop(fake_campaign.index, axis=0)

In [77]:
df1['campaign'].value_counts()

1.000     1761
2.000     1038
3.000      548
4.000      291
5.000      142
6.000       98
7.000       60
8.000       36
9.000       32
10.000      20
11.000      19
12.000      16
17.000      14
13.000      11
16.000       7
14.000       6
15.000       2
29.000       2
22.000       2
23.000       2
19.000       2
27.000       1
18.000       1
93.994       1
24.000       1
0.000        1
35.000       1
Name: campaign, dtype: int64

In [78]:
df1['pdays'].value_counts()

 999.0    3953
 3.0        52
 6.0        42
 4.0        14
 7.0        10
 10.0        8
 12.0        5
 5.0         4
 2.0         4
 1.0         3
 9.0         3
 15.0        2
 18.0        2
 0.0         2
 16.0        2
 13.0        2
-36.4        1
 14.0        1
 11.0        1
 17.0        1
 21.0        1
 19.0        1
Name: pdays, dtype: int64

In [79]:
fake_pdays=df1[df1['pdays']== -36.4]

In [80]:
fake_pdays

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
678,39.0,blue-collar,married,basic.6y,no,no,no,telephone,may,thu,...,93.994,-36.4,4.855,nonexistent,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
df1 = df1.drop(fake_pdays.index, axis=0)

In [82]:
df1['pdays'].value_counts()

999.0    3953
3.0        52
6.0        42
4.0        14
7.0        10
10.0        8
12.0        5
5.0         4
2.0         4
1.0         3
9.0         3
18.0        2
13.0        2
15.0        2
0.0         2
16.0        2
21.0        1
11.0        1
19.0        1
17.0        1
14.0        1
Name: pdays, dtype: int64

In [83]:
df1['emp.var.rate'].value_counts()

 1.4     1623
-1.8      881
 1.1      757
-0.1      392
-2.9      164
-3.4      104
-1.7       87
-1.1       83
-3.0       21
-42.7       1
-0.2        1
Name: emp.var.rate, dtype: int64

In [84]:
fake_emp=df1[df1['emp.var.rate']==-42.7]

In [85]:
fake_emp

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
574,47.0,blue-collar,married,basic.6y,yes,yes,yes,cellular,jul,thu,...,0.0,NaN,1.4,nonexistent,-42.7,4.962,5228.1,NaN,NaN,NaN

In [86]:
df1 = df1.drop(fake_emp.index, axis=0)

In [87]:
df1['emp.var.rate'].value_counts()

 1.4    1623
-1.8     881
 1.1     757
-0.1     392
-2.9     164
-3.4     104
-1.7      87
-1.1      83
-3.0      21
-0.2       1
Name: emp.var.rate, dtype: int64

In [88]:
df1['previous'].value_counts()

0.0    3517
1.0     475
2.0      78
3.0      25
4.0      14
6.0       2
5.0       2
Name: previous, dtype: int64

In [89]:
df1['cons.price.idx'].value_counts()

93.994    755
93.918    665
92.893    595
93.444    526
94.465    431
93.200    386
93.075    201
92.201     75
92.963     75
92.431     43
94.199     39
92.649     36
94.027     33
94.215     30
92.379     25
92.843     25
94.767     24
94.055     24
93.876     23
93.369     23
92.713     21
94.601     20
93.749     14
92.469     14
93.798      6
92.756      1
Name: cons.price.idx, dtype: int64

In [90]:
df1['cons.conf.idx'].value_counts()

-36.4    757
-42.7    666
-46.2    595
-36.1    526
-41.8    431
-42.0    386
-47.1    201
-31.4     75
-40.8     75
-26.9     43
-37.5     39
-30.1     36
-38.3     33
-40.3     30
-50.0     25
-29.8     25
-50.8     24
-39.8     24
-34.8     23
-40.0     23
-33.0     21
-49.5     20
-33.6     14
-34.6     14
-40.4      6
-45.9      1
Name: cons.conf.idx, dtype: int64

In [91]:
df1['euribor3m'].value_counts()

4.857    274
4.963    255
4.962    236
4.961    212
4.856    138
4.965    114
4.964    110
1.405    106
4.960    105
4.076    100
4.968    100
4.864     97
4.120     82
4.855     81
4.860     80
4.859     76
4.959     76
4.191     73
4.966     72
1.266     71
1.281     68
4.858     66
4.958     66
4.153     64
4.967     62
4.021     61
1.299     59
1.327     58
1.334     57
1.250     54
        ...
1.520      1
0.721      1
4.245      1
1.687      1
1.531      1
4.663      1
0.937      1
0.672      1
0.829      1
0.640      1
1.044      1
1.602      1
0.709      1
0.755      1
0.996      1
0.885      1
1.043      1
0.752      1
0.778      1
3.853      1
0.707      1
4.592      1
0.965      1
1.085      1
1.538      1
1.046      1
0.710      1
0.650      1
1.778      1
1.224      1
Name: euribor3m, Length: 234, dtype: int64

In [92]:
df1['nr.employed'].value_counts()

5228.1    1623
5099.1     820
5191.0     757
5195.8     392
5076.2     164
5017.5     104
4991.6      87
4963.6      83
5008.7      59
5023.5      21
5176.3       1
Name: nr.employed, dtype: int64

In [93]:
df1

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30.0,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39.0,services,single,high.school,no,no,no,telephone,may,fri,...,4.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25.0,services,married,high.school,no,yes,no,telephone,jun,wed,...,1.0,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38.0,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3.0,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47.0,admin,married,university.degree,no,yes,no,cellular,nov,mon,...,1.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no
5,32.0,services,single,university.degree,no,no,no,cellular,sep,thu,...,3.0,999.0,2.0,failure,-1.1,94.199,-37.5,0.884,4963.6,no
6,32.0,admin,single,university.degree,no,yes,no,cellular,sep,mon,...,4.0,999.0,0.0,nonexistent,-1.1,94.199,-37.5,0.879,4963.6,no
7,41.0,entrepreneur,married,university.degree,unknown,yes,no,cellular,nov,mon,...,2.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no
8,31.0,services,divorced,professional.course,no,no,no,cellular,nov,tue,...,1.0,999.0,1.0,failure,-0.1,93.200,-42.0,4.153,5195.8,no
9,35.0,blue-collar,married,basic.9y,unknown,no,no,telephone,may,thu,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
10,25.0,services,single,basic.6y,unknown,yes,no,cellular,jul,thu,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no
11,36.0,self-employed,single,basic.4y,no,no,no,cellular,jul,thu,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.968,5228.1,no
12,36.0,admin,married,high.school,no,no,no,telephone,may,wed,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,no
13,47.0,blue-collar,married,basic.4y,no,yes,no,telephone,jun,thu,...,2.0,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.958,5228.1,no
14,29.0,admin,single,high.school,no,no,no,cellular,may,fri,...,2.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
15,27.0,services,single,university.degree,no,no,no,cellular,jul,wed,...,2.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,no
16,44.0,admin,divorced,university.degree,no,no,no,cellular,jul,wed,...,6.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.957,5228.1,no
17,46.0,admin,divorced,university.degree,no,yes,no,telephone,jul,mon,...,4.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
18,45.0,entrepreneur,married,university.degree,unknown,yes,yes,cellular,aug,mon,...,2.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no
19,50.0,blue-collar,married,basic.4y,no,no,yes,cellular,jul,tue,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,yes
20,55.0,services,married,basic.6y,unknown,yes,no,cellular,jul,tue,...,6.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
21,39.0,technician,divorced,high.school,no,no,no,cellular,mar,mon,...,1.0,12.0,2.0,success,-1.8,93.369,-34.8,0.639,NaN,yes
22,29.0,technician,single,university.degree,no,yes,yes,cellular,aug,wed,...,3.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.967,5228.1,no
23,40.0,management,married,high.school,no,no,yes,cellular,aug,wed,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no
24,44.0,technician,married,professional.course,unknown,yes,no,telephone,may,fri,...,7.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.864,5191.0,no
25,38.0,technician,married,professional.course,no,yes,no,cellular,aug,mon,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,yes
26,36.0,technician,divorced,professional.course,no,no,no,telephone,may,wed,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,no
27,28.0,blue-collar,married,basic.6y,unknown,no,no,cellular,may,mon,...,2.0,999.0,1.0,failure,-1.8,92.893,-46.2,1.299,5099.1,no
28,47.0,admin,single,illiterate,unknown,no,no,telephone,may,thu,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,no
29,34.0,admin,married,university.degree,no,no,no,cellular,aug,tue,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4089,25.0,admin,single,university.degree,no,yes,yes,cellular,oct,fri,...,1.0,999.0,1.0,failure,-3.4,92.431,-26.9,0.739,5017.5,yes
4090,43.0,blue-collar,married,basic.4y,unknown,yes,yes,telephone,may,tue,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4091,38.0,management,married,high.school,unknown,no,no,telephone,may,thu,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,no
4092,30.0,blue-collar,single,high.school,no,no,no,telephone,jul,wed,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.956,5228.1,no
4093,56.0,retired,married,basic.4y,unknown,no,no,cellular,jul,tue,...,3.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no
4094,62.0,blue-collar,married,basic.4y,no,yes,no,cellular,nov,mon,...,1.0,6.0,1.0,success,-3.4,92.649,-30.1,0.719,5017.5,no
4095,36.0,admin,single,university.degree,no,no,yes,cellular,aug,fri,...,2.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
4096,33.0,services,married,high.school,no,no,no,telephone,may,mon,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4097,41.0,blue-collar,divorced,basic.9y,no,no,no,cellular,aug,tue,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
4098,34.0,housemaid,single,university.degree,no,yes,no,cellular,aug,thu,...,3.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
4099,58.0,admin,divorced,high.school,no,no,no,cellular,aug,tue,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
4100,41.0,admin,divorced,high.school,no,no,no,cellular,apr,fri,...,1.0,999.0,0.0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,no
4101,35.0,entrepreneur,single,university.degree,no,yes,no,cellular,jul,mon,...,5.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,no
4102,31.0,blue-collar,single,basic.9y,unknown,no,yes,telephone,jun,fri,...,2.0,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4103,43.0,services,married,high.school,no,no,no,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4104,42.0,technician,divorced,professional.course,no,yes,no,cellular,aug,mon,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.970,5228.1,no
4105,47.0,housemaid,married,basic.4y,unknown,yes,no,telephone,jul,tue,...,2.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no
4106,45.0,entrepreneur,divorced,basic.9y,no,yes,no,cellular,may,tue,...,3.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.344,5099.1,no
4107,36.0,admin,married,university.degree,unknown,yes,no,cellular,aug,wed,...,11.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.964,5228.1,no
4108,32.0,admin,married,university.degree,no,yes,no,telephone,may,thu,...,5.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.266,5099.1,no
4109,63.0,retired,married,high.school,no,no,no,cellular,oct,wed,...,1.0,999.0,0.0,nonexistent,-3.4,92.431,-26.9,0.740,5017.5,no
4110,53.0,housemaid,divorced,basic.6y,unknown,unknown,unknown,telephone,may,fri,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
4111,30.0,technician,married,university.degree,no,no,yes,cellular,jun,fri,...,1.0,999.0,1.0,failure,-1.7,94.055,-39.8,0.748,4991.6,no
4112,31.0,technician,single,professional.course,no,yes,no,cellular,nov,thu,...,1.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,no
4113,31.0,admin,single,university.degree,no,yes,no,cellular,nov,thu,...,1.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,no
4114,30.0,admin,married,basic.6y,no,yes,yes,cellular,jul,thu,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no
4115,39.0,admin,married,high.school,no,yes,no,telephone,jul,fri,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.959,5228.1,no
4116,27.0,student,single,high.school,no,no,no,cellular,may,mon,...,2.0,999.0,1.0,failure,-1.8,92.893,-46.2,1.354,5099.1,no
4117,58.0,admin,married,high.school,no,no,no,cellular,aug,fri,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,no
4118,34.0,management,single,high.school,no,yes,no,cellular,nov,wed,...,1.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,no

In [94]:
df1['job']

0         blue-collar
1            services
2            services
3            services
4               admin
5            services
6               admin
7        entrepreneur
8            services
9         blue-collar
10           services
11      self-employed
12              admin
13        blue-collar
14              admin
15           services
16              admin
17              admin
18       entrepreneur
19        blue-collar
20           services
21         technician
22         technician
23         management
24         technician
25         technician
26         technician
27        blue-collar
28              admin
29              admin
            ...
4089            admin
4090      blue-collar
4091       management
4092      blue-collar
4093          retired
4094      blue-collar
4095            admin
4096         services
4097      blue-collar
4098        housemaid
4099            admin
4100            admin
4101     entrepreneur
4102      blue-collar
4103         services
4104       technician
4105        housemaid
4106     entrepreneur
4107            admin
4108            admin
4109          retired
4110        housemaid
4111       technician
4112       technician
4113            admin
4114            admin
4115            admin
4116          student
4117            admin
4118       management
Name: job, Length: 4113, dtype: object

TO KNOW HOW TO CONVERT THE CHARACTERS TO LOWER CASE

In [95]:
df1['job']=df1['job'].str.upper()

In [96]:
df1['job']

0         BLUE-COLLAR
1            SERVICES
2            SERVICES
3            SERVICES
4               ADMIN
5            SERVICES
6               ADMIN
7        ENTREPRENEUR
8            SERVICES
9         BLUE-COLLAR
10           SERVICES
11      SELF-EMPLOYED
12              ADMIN
13        BLUE-COLLAR
14              ADMIN
15           SERVICES
16              ADMIN
17              ADMIN
18       ENTREPRENEUR
19        BLUE-COLLAR
20           SERVICES
21         TECHNICIAN
22         TECHNICIAN
23         MANAGEMENT
24         TECHNICIAN
25         TECHNICIAN
26         TECHNICIAN
27        BLUE-COLLAR
28              ADMIN
29              ADMIN
            ...
4089            ADMIN
4090      BLUE-COLLAR
4091       MANAGEMENT
4092      BLUE-COLLAR
4093          RETIRED
4094      BLUE-COLLAR
4095            ADMIN
4096         SERVICES
4097      BLUE-COLLAR
4098        HOUSEMAID
4099            ADMIN
4100            ADMIN
4101     ENTREPRENEUR
4102      BLUE-COLLAR
4103         SERVICES
4104       TECHNICIAN
4105        HOUSEMAID
4106     ENTREPRENEUR
4107            ADMIN
4108            ADMIN
4109          RETIRED
4110        HOUSEMAID
4111       TECHNICIAN
4112       TECHNICIAN
4113            ADMIN
4114            ADMIN
4115            ADMIN
4116          STUDENT
4117            ADMIN
4118       MANAGEMENT
Name: job, Length: 4113, dtype: object

In [97]:
df1

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30.0,BLUE-COLLAR,married,basic.9y,no,yes,no,cellular,may,fri,...,2.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39.0,SERVICES,single,high.school,no,no,no,telephone,may,fri,...,4.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25.0,SERVICES,married,high.school,no,yes,no,telephone,jun,wed,...,1.0,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38.0,SERVICES,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3.0,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47.0,ADMIN,married,university.degree,no,yes,no,cellular,nov,mon,...,1.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no
5,32.0,SERVICES,single,university.degree,no,no,no,cellular,sep,thu,...,3.0,999.0,2.0,failure,-1.1,94.199,-37.5,0.884,4963.6,no
6,32.0,ADMIN,single,university.degree,no,yes,no,cellular,sep,mon,...,4.0,999.0,0.0,nonexistent,-1.1,94.199,-37.5,0.879,4963.6,no
7,41.0,ENTREPRENEUR,married,university.degree,unknown,yes,no,cellular,nov,mon,...,2.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no
8,31.0,SERVICES,divorced,professional.course,no,no,no,cellular,nov,tue,...,1.0,999.0,1.0,failure,-0.1,93.200,-42.0,4.153,5195.8,no
9,35.0,BLUE-COLLAR,married,basic.9y,unknown,no,no,telephone,may,thu,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
10,25.0,SERVICES,single,basic.6y,unknown,yes,no,cellular,jul,thu,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no
11,36.0,SELF-EMPLOYED,single,basic.4y,no,no,no,cellular,jul,thu,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.968,5228.1,no
12,36.0,ADMIN,married,high.school,no,no,no,telephone,may,wed,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,no
13,47.0,BLUE-COLLAR,married,basic.4y,no,yes,no,telephone,jun,thu,...,2.0,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.958,5228.1,no
14,29.0,ADMIN,single,high.school,no,no,no,cellular,may,fri,...,2.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
15,27.0,SERVICES,single,university.degree,no,no,no,cellular,jul,wed,...,2.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,no
16,44.0,ADMIN,divorced,university.degree,no,no,no,cellular,jul,wed,...,6.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.957,5228.1,no
17,46.0,ADMIN,divorced,university.degree,no,yes,no,telephone,jul,mon,...,4.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
18,45.0,ENTREPRENEUR,married,university.degree,unknown,yes,yes,cellular,aug,mon,...,2.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no
19,50.0,BLUE-COLLAR,married,basic.4y,no,no,yes,cellular,jul,tue,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,yes
20,55.0,SERVICES,married,basic.6y,unknown,yes,no,cellular,jul,tue,...,6.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
21,39.0,TECHNICIAN,divorced,high.school,no,no,no,cellular,mar,mon,...,1.0,12.0,2.0,success,-1.8,93.369,-34.8,0.639,NaN,yes
22,29.0,TECHNICIAN,single,university.degree,no,yes,yes,cellular,aug,wed,...,3.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.967,5228.1,no
23,40.0,MANAGEMENT,married,high.school,no,no,yes,cellular,aug,wed,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no
24,44.0,TECHNICIAN,married,professional.course,unknown,yes,no,telephone,may,fri,...,7.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.864,5191.0,no
25,38.0,TECHNICIAN,married,professional.course,no,yes,no,cellular,aug,mon,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,yes
26,36.0,TECHNICIAN,divorced,professional.course,no,no,no,telephone,may,wed,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,no
27,28.0,BLUE-COLLAR,married,basic.6y,unknown,no,no,cellular,may,mon,...,2.0,999.0,1.0,failure,-1.8,92.893,-46.2,1.299,5099.1,no
28,47.0,ADMIN,single,illiterate,unknown,no,no,telephone,may,thu,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,no
29,34.0,ADMIN,married,university.degree,no,no,no,cellular,aug,tue,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4089,25.0,ADMIN,single,university.degree,no,yes,yes,cellular,oct,fri,...,1.0,999.0,1.0,failure,-3.4,92.431,-26.9,0.739,5017.5,yes
4090,43.0,BLUE-COLLAR,married,basic.4y,unknown,yes,yes,telephone,may,tue,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4091,38.0,MANAGEMENT,married,high.school,unknown,no,no,telephone,may,thu,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,no
4092,30.0,BLUE-COLLAR,single,high.school,no,no,no,telephone,jul,wed,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.956,5228.1,no
4093,56.0,RETIRED,married,basic.4y,unknown,no,no,cellular,jul,tue,...,3.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no
4094,62.0,BLUE-COLLAR,married,basic.4y,no,yes,no,cellular,nov,mon,...,1.0,6.0,1.0,success,-3.4,92.649,-30.1,0.719,5017.5,no
4095,36.0,ADMIN,single,university.degree,no,no,yes,cellular,aug,fri,...,2.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
4096,33.0,SERVICES,married,high.school,no,no,no,telephone,may,mon,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4097,41.0,BLUE-COLLAR,divorced,basic.9y,no,no,no,cellular,aug,tue,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
4098,34.0,HOUSEMAID,single,university.degree,no,yes,no,cellular,aug,thu,...,3.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
4099,58.0,ADMIN,divorced,high.school,no,no,no,cellular,aug,tue,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
4100,41.0,ADMIN,divorced,high.school,no,no,no,cellular,apr,fri,...,1.0,999.0,0.0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,no
4101,35.0,ENTREPRENEUR,single,university.degree,no,yes,no,cellular,jul,mon,...,5.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,no
4102,31.0,BLUE-COLLAR,single,basic.9y,unknown,no,yes,telephone,jun,fri,...,2.0,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4103,43.0,SERVICES,married,high.school,no,no,no,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4104,42.0,TECHNICIAN,divorced,professional.course,no,yes,no,cellular,aug,mon,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.970,5228.1,no
4105,47.0,HOUSEMAID,married,basic.4y,unknown,yes,no,telephone,jul,tue,...,2.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no
4106,45.0,ENTREPRENEUR,divorced,basic.9y,no,yes,no,cellular,may,tue,...,3.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.344,5099.1,no
4107,36.0,ADMIN,married,university.degree,unknown,yes,no,cellular,aug,wed,...,11.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.964,5228.1,no
4108,32.0,ADMIN,married,university.degree,no,yes,no,telephone,may,thu,...,5.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.266,5099.1,no
4109,63.0,RETIRED,married,high.school,no,no,no,cellular,oct,wed,...,1.0,999.0,0.0,nonexistent,-3.4,92.431,-26.9,0.740,5017.5,no
4110,53.0,HOUSEMAID,divorced,basic.6y,unknown,unknown,unknown,telephone,may,fri,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
4111,30.0,TECHNICIAN,married,university.degree,no,no,yes,cellular,jun,fri,...,1.0,999.0,1.0,failure,-1.7,94.055,-39.8,0.748,4991.6,no
4112,31.0,TECHNICIAN,single,professional.course,no,yes,no,cellular,nov,thu,...,1.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,no
4113,31.0,ADMIN,single,university.degree,no,yes,no,cellular,nov,thu,...,1.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,no
4114,30.0,ADMIN,married,basic.6y,no,yes,yes,cellular,jul,thu,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no
4115,39.0,ADMIN,married,high.school,no,yes,no,telephone,jul,fri,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.959,5228.1,no
4116,27.0,STUDENT,single,high.school,no,no,no,cellular,may,mon,...,2.0,999.0,1.0,failure,-1.8,92.893,-46.2,1.354,5099.1,no
4117,58.0,ADMIN,married,high.school,no,no,no,cellular,aug,fri,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,no
4118,34.0,MANAGEMENT,single,high.school,no,yes,no,cellular,nov,wed,...,1.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,no

In [98]:
df1['job']=df1['job'].str.lower()

In [99]:
df1['job']

0         blue-collar
1            services
2            services
3            services
4               admin
5            services
6               admin
7        entrepreneur
8            services
9         blue-collar
10           services
11      self-employed
12              admin
13        blue-collar
14              admin
15           services
16              admin
17              admin
18       entrepreneur
19        blue-collar
20           services
21         technician
22         technician
23         management
24         technician
25         technician
26         technician
27        blue-collar
28              admin
29              admin
            ...
4089            admin
4090      blue-collar
4091       management
4092      blue-collar
4093          retired
4094      blue-collar
4095            admin
4096         services
4097      blue-collar
4098        housemaid
4099            admin
4100            admin
4101     entrepreneur
4102      blue-collar
4103         services
4104       technician
4105        housemaid
4106     entrepreneur
4107            admin
4108            admin
4109          retired
4110        housemaid
4111       technician
4112       technician
4113            admin
4114            admin
4115            admin
4116          student
4117            admin
4118       management
Name: job, Length: 4113, dtype: object

In [100]:
df1

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30.0,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39.0,services,single,high.school,no,no,no,telephone,may,fri,...,4.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25.0,services,married,high.school,no,yes,no,telephone,jun,wed,...,1.0,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38.0,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3.0,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47.0,admin,married,university.degree,no,yes,no,cellular,nov,mon,...,1.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no
5,32.0,services,single,university.degree,no,no,no,cellular,sep,thu,...,3.0,999.0,2.0,failure,-1.1,94.199,-37.5,0.884,4963.6,no
6,32.0,admin,single,university.degree,no,yes,no,cellular,sep,mon,...,4.0,999.0,0.0,nonexistent,-1.1,94.199,-37.5,0.879,4963.6,no
7,41.0,entrepreneur,married,university.degree,unknown,yes,no,cellular,nov,mon,...,2.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no
8,31.0,services,divorced,professional.course,no,no,no,cellular,nov,tue,...,1.0,999.0,1.0,failure,-0.1,93.200,-42.0,4.153,5195.8,no
9,35.0,blue-collar,married,basic.9y,unknown,no,no,telephone,may,thu,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
10,25.0,services,single,basic.6y,unknown,yes,no,cellular,jul,thu,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no
11,36.0,self-employed,single,basic.4y,no,no,no,cellular,jul,thu,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.968,5228.1,no
12,36.0,admin,married,high.school,no,no,no,telephone,may,wed,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,no
13,47.0,blue-collar,married,basic.4y,no,yes,no,telephone,jun,thu,...,2.0,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.958,5228.1,no
14,29.0,admin,single,high.school,no,no,no,cellular,may,fri,...,2.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
15,27.0,services,single,university.degree,no,no,no,cellular,jul,wed,...,2.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,no
16,44.0,admin,divorced,university.degree,no,no,no,cellular,jul,wed,...,6.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.957,5228.1,no
17,46.0,admin,divorced,university.degree,no,yes,no,telephone,jul,mon,...,4.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
18,45.0,entrepreneur,married,university.degree,unknown,yes,yes,cellular,aug,mon,...,2.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no
19,50.0,blue-collar,married,basic.4y,no,no,yes,cellular,jul,tue,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,yes
20,55.0,services,married,basic.6y,unknown,yes,no,cellular,jul,tue,...,6.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
21,39.0,technician,divorced,high.school,no,no,no,cellular,mar,mon,...,1.0,12.0,2.0,success,-1.8,93.369,-34.8,0.639,NaN,yes
22,29.0,technician,single,university.degree,no,yes,yes,cellular,aug,wed,...,3.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.967,5228.1,no
23,40.0,management,married,high.school,no,no,yes,cellular,aug,wed,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no
24,44.0,technician,married,professional.course,unknown,yes,no,telephone,may,fri,...,7.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.864,5191.0,no
25,38.0,technician,married,professional.course,no,yes,no,cellular,aug,mon,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,yes
26,36.0,technician,divorced,professional.course,no,no,no,telephone,may,wed,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,no
27,28.0,blue-collar,married,basic.6y,unknown,no,no,cellular,may,mon,...,2.0,999.0,1.0,failure,-1.8,92.893,-46.2,1.299,5099.1,no
28,47.0,admin,single,illiterate,unknown,no,no,telephone,may,thu,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,no
29,34.0,admin,married,university.degree,no,no,no,cellular,aug,tue,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4089,25.0,admin,single,university.degree,no,yes,yes,cellular,oct,fri,...,1.0,999.0,1.0,failure,-3.4,92.431,-26.9,0.739,5017.5,yes
4090,43.0,blue-collar,married,basic.4y,unknown,yes,yes,telephone,may,tue,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4091,38.0,management,married,high.school,unknown,no,no,telephone,may,thu,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,no
4092,30.0,blue-collar,single,high.school,no,no,no,telephone,jul,wed,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.956,5228.1,no
4093,56.0,retired,married,basic.4y,unknown,no,no,cellular,jul,tue,...,3.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no
4094,62.0,blue-collar,married,basic.4y,no,yes,no,cellular,nov,mon,...,1.0,6.0,1.0,success,-3.4,92.649,-30.1,0.719,5017.5,no
4095,36.0,admin,single,university.degree,no,no,yes,cellular,aug,fri,...,2.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
4096,33.0,services,married,high.school,no,no,no,telephone,may,mon,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4097,41.0,blue-collar,divorced,basic.9y,no,no,no,cellular,aug,tue,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
4098,34.0,housemaid,single,university.degree,no,yes,no,cellular,aug,thu,...,3.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
4099,58.0,admin,divorced,high.school,no,no,no,cellular,aug,tue,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
4100,41.0,admin,divorced,high.school,no,no,no,cellular,apr,fri,...,1.0,999.0,0.0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,no
4101,35.0,entrepreneur,single,university.degree,no,yes,no,cellular,jul,mon,...,5.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,no
4102,31.0,blue-collar,single,basic.9y,unknown,no,yes,telephone,jun,fri,...,2.0,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4103,43.0,services,married,high.school,no,no,no,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4104,42.0,technician,divorced,professional.course,no,yes,no,cellular,aug,mon,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.970,5228.1,no
4105,47.0,housemaid,married,basic.4y,unknown,yes,no,telephone,jul,tue,...,2.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no
4106,45.0,entrepreneur,divorced,basic.9y,no,yes,no,cellular,may,tue,...,3.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.344,5099.1,no
4107,36.0,admin,married,university.degree,unknown,yes,no,cellular,aug,wed,...,11.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.964,5228.1,no
4108,32.0,admin,married,university.degree,no,yes,no,telephone,may,thu,...,5.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.266,5099.1,no
4109,63.0,retired,married,high.school,no,no,no,cellular,oct,wed,...,1.0,999.0,0.0,nonexistent,-3.4,92.431,-26.9,0.740,5017.5,no
4110,53.0,housemaid,divorced,basic.6y,unknown,unknown,unknown,telephone,may,fri,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
4111,30.0,technician,married,university.degree,no,no,yes,cellular,jun,fri,...,1.0,999.0,1.0,failure,-1.7,94.055,-39.8,0.748,4991.6,no
4112,31.0,technician,single,professional.course,no,yes,no,cellular,nov,thu,...,1.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,no
4113,31.0,admin,single,university.degree,no,yes,no,cellular,nov,thu,...,1.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,no
4114,30.0,admin,married,basic.6y,no,yes,yes,cellular,jul,thu,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no
4115,39.0,admin,married,high.school,no,yes,no,telephone,jul,fri,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.959,5228.1,no
4116,27.0,student,single,high.school,no,no,no,cellular,may,mon,...,2.0,999.0,1.0,failure,-1.8,92.893,-46.2,1.354,5099.1,no
4117,58.0,admin,married,high.school,no,no,no,cellular,aug,fri,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,no
4118,34.0,management,single,high.school,no,yes,no,cellular,nov,wed,...,1.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,no

In [101]:
df1['marital']=df1['marital'].str.upper()

In [102]:
df1['marital']

0        MARRIED
1         SINGLE
2        MARRIED
3        MARRIED
4        MARRIED
5         SINGLE
6         SINGLE
7        MARRIED
8       DIVORCED
9        MARRIED
10        SINGLE
11        SINGLE
12       MARRIED
13       MARRIED
14        SINGLE
15        SINGLE
16      DIVORCED
17      DIVORCED
18       MARRIED
19       MARRIED
20       MARRIED
21      DIVORCED
22        SINGLE
23       MARRIED
24       MARRIED
25       MARRIED
26      DIVORCED
27       MARRIED
28        SINGLE
29       MARRIED
          ...
4089      SINGLE
4090     MARRIED
4091     MARRIED
4092      SINGLE
4093     MARRIED
4094     MARRIED
4095      SINGLE
4096     MARRIED
4097    DIVORCED
4098      SINGLE
4099    DIVORCED
4100    DIVORCED
4101      SINGLE
4102      SINGLE
4103     MARRIED
4104    DIVORCED
4105     MARRIED
4106    DIVORCED
4107     MARRIED
4108     MARRIED
4109     MARRIED
4110    DIVORCED
4111     MARRIED
4112      SINGLE
4113      SINGLE
4114     MARRIED
4115     MARRIED
4116      SINGLE
4117     MARRIED
4118      SINGLE
Name: marital, Length: 4113, dtype: object

In [103]:
df1['marital']=df1['marital'].str.lower()

In [104]:
df1['marital']

0        married
1         single
2        married
3        married
4        married
5         single
6         single
7        married
8       divorced
9        married
10        single
11        single
12       married
13       married
14        single
15        single
16      divorced
17      divorced
18       married
19       married
20       married
21      divorced
22        single
23       married
24       married
25       married
26      divorced
27       married
28        single
29       married
          ...
4089      single
4090     married
4091     married
4092      single
4093     married
4094     married
4095      single
4096     married
4097    divorced
4098      single
4099    divorced
4100    divorced
4101      single
4102      single
4103     married
4104    divorced
4105     married
4106    divorced
4107     married
4108     married
4109     married
4110    divorced
4111     married
4112      single
4113      single
4114     married
4115     married
4116      single
4117     married
4118      single
Name: marital, Length: 4113, dtype: object

In [105]:
df1['education']=df1['education'].str.upper()

In [106]:
df1['education']

0                  BASIC.9Y
1               HIGH.SCHOOL
2               HIGH.SCHOOL
3                  BASIC.9Y
4         UNIVERSITY.DEGREE
5         UNIVERSITY.DEGREE
6         UNIVERSITY.DEGREE
7         UNIVERSITY.DEGREE
8       PROFESSIONAL.COURSE
9                  BASIC.9Y
10                 BASIC.6Y
11                 BASIC.4Y
12              HIGH.SCHOOL
13                 BASIC.4Y
14              HIGH.SCHOOL
15        UNIVERSITY.DEGREE
16        UNIVERSITY.DEGREE
17        UNIVERSITY.DEGREE
18        UNIVERSITY.DEGREE
19                 BASIC.4Y
20                 BASIC.6Y
21              HIGH.SCHOOL
22        UNIVERSITY.DEGREE
23              HIGH.SCHOOL
24      PROFESSIONAL.COURSE
25      PROFESSIONAL.COURSE
26      PROFESSIONAL.COURSE
27                 BASIC.6Y
28               ILLITERATE
29        UNIVERSITY.DEGREE
               ...
4089      UNIVERSITY.DEGREE
4090               BASIC.4Y
4091            HIGH.SCHOOL
4092            HIGH.SCHOOL
4093               BASIC.4Y
4094               BASIC.4Y
4095      UNIVERSITY.DEGREE
4096            HIGH.SCHOOL
4097               BASIC.9Y
4098      UNIVERSITY.DEGREE
4099            HIGH.SCHOOL
4100            HIGH.SCHOOL
4101      UNIVERSITY.DEGREE
4102               BASIC.9Y
4103            HIGH.SCHOOL
4104    PROFESSIONAL.COURSE
4105               BASIC.4Y
4106               BASIC.9Y
4107      UNIVERSITY.DEGREE
4108      UNIVERSITY.DEGREE
4109            HIGH.SCHOOL
4110               BASIC.6Y
4111      UNIVERSITY.DEGREE
4112    PROFESSIONAL.COURSE
4113      UNIVERSITY.DEGREE
4114               BASIC.6Y
4115            HIGH.SCHOOL
4116            HIGH.SCHOOL
4117            HIGH.SCHOOL
4118            HIGH.SCHOOL
Name: education, Length: 4113, dtype: object

In [107]:
df1['education']=df1['education'].str.lower()

In [108]:
df1['education']

0                  basic.9y
1               high.school
2               high.school
3                  basic.9y
4         university.degree
5         university.degree
6         university.degree
7         university.degree
8       professional.course
9                  basic.9y
10                 basic.6y
11                 basic.4y
12              high.school
13                 basic.4y
14              high.school
15        university.degree
16        university.degree
17        university.degree
18        university.degree
19                 basic.4y
20                 basic.6y
21              high.school
22        university.degree
23              high.school
24      professional.course
25      professional.course
26      professional.course
27                 basic.6y
28               illiterate
29        university.degree
               ...
4089      university.degree
4090               basic.4y
4091            high.school
4092            high.school
4093               basic.4y
4094               basic.4y
4095      university.degree
4096            high.school
4097               basic.9y
4098      university.degree
4099            high.school
4100            high.school
4101      university.degree
4102               basic.9y
4103            high.school
4104    professional.course
4105               basic.4y
4106               basic.9y
4107      university.degree
4108      university.degree
4109            high.school
4110               basic.6y
4111      university.degree
4112    professional.course
4113      university.degree
4114               basic.6y
4115            high.school
4116            high.school
4117            high.school
4118            high.school
Name: education, Length: 4113, dtype: object

In [109]:
df1['default']=df1['default'].str.upper()

In [110]:
df1['default']

0            NO
1            NO
2            NO
3            NO
4            NO
5            NO
6            NO
7       UNKNOWN
8            NO
9       UNKNOWN
10      UNKNOWN
11           NO
12           NO
13           NO
14           NO
15           NO
16           NO
17           NO
18      UNKNOWN
19           NO
20      UNKNOWN
21           NO
22           NO
23           NO
24      UNKNOWN
25           NO
26           NO
27      UNKNOWN
28      UNKNOWN
29           NO
         ...
4089         NO
4090    UNKNOWN
4091    UNKNOWN
4092         NO
4093    UNKNOWN
4094         NO
4095         NO
4096         NO
4097         NO
4098         NO
4099         NO
4100         NO
4101         NO
4102    UNKNOWN
4103         NO
4104         NO
4105    UNKNOWN
4106         NO
4107    UNKNOWN
4108         NO
4109         NO
4110    UNKNOWN
4111         NO
4112         NO
4113         NO
4114         NO
4115         NO
4116         NO
4117         NO
4118         NO
Name: default, Length: 4113, dtype: object

In [111]:
df1['default']=df1['default'].str.lower()

In [112]:
df1['default']

0            no
1            no
2            no
3            no
4            no
5            no
6            no
7       unknown
8            no
9       unknown
10      unknown
11           no
12           no
13           no
14           no
15           no
16           no
17           no
18      unknown
19           no
20      unknown
21           no
22           no
23           no
24      unknown
25           no
26           no
27      unknown
28      unknown
29           no
         ...
4089         no
4090    unknown
4091    unknown
4092         no
4093    unknown
4094         no
4095         no
4096         no
4097         no
4098         no
4099         no
4100         no
4101         no
4102    unknown
4103         no
4104         no
4105    unknown
4106         no
4107    unknown
4108         no
4109         no
4110    unknown
4111         no
4112         no
4113         no
4114         no
4115         no
4116         no
4117         no
4118         no
Name: default, Length: 4113, dtype: object

In [113]:
df1['housing']=df1['housing'].str.lower()

In [114]:
df1['housing']

0           yes
1            no
2           yes
3       unknown
4           yes
5            no
6           yes
7           yes
8            no
9            no
10          yes
11           no
12           no
13          yes
14           no
15           no
16           no
17          yes
18          yes
19           no
20          yes
21           no
22          yes
23           no
24          yes
25          yes
26           no
27           no
28           no
29           no
         ...
4089        yes
4090        yes
4091         no
4092         no
4093         no
4094        yes
4095         no
4096         no
4097         no
4098        yes
4099         no
4100         no
4101        yes
4102         no
4103         no
4104        yes
4105        yes
4106        yes
4107        yes
4108        yes
4109         no
4110    unknown
4111         no
4112        yes
4113        yes
4114        yes
4115        yes
4116         no
4117         no
4118        yes
Name: housing, Length: 4113, dtype: object

In [115]:
df1['loan']=df1['loan'].str.lower()

In [116]:
df1['loan']

0            no
1            no
2            no
3       unknown
4            no
5            no
6            no
7            no
8            no
9            no
10           no
11           no
12           no
13           no
14           no
15           no
16           no
17           no
18          yes
19          yes
20           no
21           no
22          yes
23          yes
24           no
25           no
26           no
27           no
28           no
29           no
         ...
4089        yes
4090        yes
4091         no
4092         no
4093         no
4094         no
4095        yes
4096         no
4097         no
4098         no
4099         no
4100         no
4101         no
4102        yes
4103         no
4104         no
4105         no
4106         no
4107         no
4108         no
4109         no
4110    unknown
4111        yes
4112         no
4113         no
4114        yes
4115         no
4116         no
4117         no
4118         no
Name: loan, Length: 4113, dtype: object

In [117]:
df1['contact']=df1['contact'].str.lower()

In [118]:
df1['contact']

0        cellular
1       telephone
2       telephone
3       telephone
4        cellular
5        cellular
6        cellular
7        cellular
8        cellular
9       telephone
10       cellular
11       cellular
12      telephone
13      telephone
14       cellular
15       cellular
16       cellular
17      telephone
18       cellular
19       cellular
20       cellular
21       cellular
22       cellular
23       cellular
24      telephone
25       cellular
26      telephone
27       cellular
28      telephone
29       cellular
          ...
4089     cellular
4090    telephone
4091    telephone
4092    telephone
4093     cellular
4094     cellular
4095     cellular
4096    telephone
4097     cellular
4098     cellular
4099     cellular
4100     cellular
4101     cellular
4102    telephone
4103    telephone
4104     cellular
4105    telephone
4106     cellular
4107     cellular
4108    telephone
4109     cellular
4110    telephone
4111     cellular
4112     cellular
4113     cellular
4114     cellular
4115    telephone
4116     cellular
4117     cellular
4118     cellular
Name: contact, Length: 4113, dtype: object

In [119]:
df1['month']=df1['month'].str.lower()

In [120]:
df1['month']

0       may
1       may
2       jun
3       jun
4       nov
5       sep
6       sep
7       nov
8       nov
9       may
10      jul
11      jul
12      may
13      jun
14      may
15      jul
16      jul
17      jul
18      aug
19      jul
20      jul
21      mar
22      aug
23      aug
24      may
25      aug
26      may
27      may
28      may
29      aug
       ...
4089    oct
4090    may
4091    may
4092    jul
4093    jul
4094    nov
4095    aug
4096    may
4097    aug
4098    aug
4099    aug
4100    apr
4101    jul
4102    jun
4103    may
4104    aug
4105    jul
4106    may
4107    aug
4108    may
4109    oct
4110    may
4111    jun
4112    nov
4113    nov
4114    jul
4115    jul
4116    may
4117    aug
4118    nov
Name: month, Length: 4113, dtype: object

In [121]:
df1['day_of_week']=df1['day_of_week'].str.lower()

In [122]:
df1['day_of_week']

0       fri
1       fri
2       wed
3       fri
4       mon
5       thu
6       mon
7       mon
8       tue
9       thu
10      thu
11      thu
12      wed
13      thu
14      fri
15      wed
16      wed
17      mon
18      mon
19      tue
20      tue
21      mon
22      wed
23      wed
24      fri
25      mon
26      wed
27      mon
28      thu
29      tue
       ...
4089    fri
4090    tue
4091    thu
4092    wed
4093    tue
4094    mon
4095    fri
4096    mon
4097    tue
4098    thu
4099    tue
4100    fri
4101    mon
4102    fri
4103    mon
4104    mon
4105    tue
4106    tue
4107    wed
4108    thu
4109    wed
4110    fri
4111    fri
4112    thu
4113    thu
4114    thu
4115    fri
4116    mon
4117    fri
4118    wed
Name: day_of_week, Length: 4113, dtype: object

In [123]:
df1['poutcome']=df1['poutcome'].str.lower()

In [124]:
df1['poutcome']

0       nonexistent
1       nonexistent
2       nonexistent
3       nonexistent
4       nonexistent
5           failure
6       nonexistent
7       nonexistent
8           failure
9       nonexistent
10      nonexistent
11      nonexistent
12      nonexistent
13      nonexistent
14      nonexistent
15      nonexistent
16      nonexistent
17      nonexistent
18      nonexistent
19      nonexistent
20      nonexistent
21          success
22      nonexistent
23      nonexistent
24      nonexistent
25      nonexistent
26      nonexistent
27          failure
28      nonexistent
29      nonexistent
           ...
4089        failure
4090    nonexistent
4091    nonexistent
4092    nonexistent
4093    nonexistent
4094        success
4095    nonexistent
4096    nonexistent
4097    nonexistent
4098    nonexistent
4099    nonexistent
4100    nonexistent
4101    nonexistent
4102    nonexistent
4103    nonexistent
4104    nonexistent
4105    nonexistent
4106    nonexistent
4107    nonexistent
4108    nonexistent
4109    nonexistent
4110    nonexistent
4111        failure
4112    nonexistent
4113    nonexistent
4114    nonexistent
4115    nonexistent
4116        failure
4117    nonexistent
4118    nonexistent
Name: poutcome, Length: 4113, dtype: object

In [125]:
df1['y']=df1['y'].str.lower()

In [126]:
df1['y']

0        no
1        no
2        no
3        no
4        no
5        no
6        no
7        no
8        no
9        no
10       no
11       no
12       no
13       no
14       no
15       no
16       no
17       no
18       no
19      yes
20       no
21      yes
22       no
23       no
24       no
25      yes
26       no
27       no
28       no
29       no
       ...
4089    yes
4090     no
4091     no
4092     no
4093     no
4094     no
4095     no
4096     no
4097     no
4098     no
4099     no
4100     no
4101     no
4102     no
4103     no
4104     no
4105     no
4106     no
4107     no
4108     no
4109     no
4110     no
4111     no
4112     no
4113     no
4114     no
4115     no
4116     no
4117     no
4118     no
Name: y, Length: 4113, dtype: object

TO CHECK FOR NULL VALUES

In [127]:
df1[df1.isnull().any(axis=1)]

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
21,39.0,technician,divorced,high.school,no,no,no,cellular,mar,mon,...,1.0,12.0,2.0,success,-1.8,93.369,-34.8,0.639,NaN,yes
30,38.0,technician,married,university.degree,no,yes,yes,cellular,mar,tue,...,1.0,999.0,1.0,failure,-1.8,92.843,-50.0,1.687,NaN,no
36,NaN,blue-collar,married,basic.6y,no,yes,no,telephone,may,wed,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,no
44,32.0,housemaid,married,basic.4y,no,yes,yes,cellular,may,fri,...,1.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,NaN,5099.1,no
77,38.0,self-employed,single,university.degree,no,no,no,telephone,may,thu,...,2.0,999.0,0.0,nonexistent,1.1,NaN,-36.4,4.855,5191.0,no
193,47.0,services,single,basic.9y,no,no,no,cellular,nov,tue,...,2.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,NaN,5195.8,no
249,44.0,admin,married,high.school,no,no,no,telephone,may,wed,...,3.0,999.0,0.0,nonexistent,1.1,NaN,-36.4,4.856,5191.0,no
303,24.0,admin,single,high.school,unknown,yes,no,telephone,jul,thu,...,1.0,999.0,0.0,nonexistent,1.4,NaN,-42.7,4.958,5228.1,no
433,NaN,admin,single,university.degree,no,yes,no,cellular,aug,thu,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
538,NaN,management,married,high.school,no,yes,no,cellular,aug,wed,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no

REPLACING THE NULL VALUES WITH THEIR MEAN VALUES

In [128]:
df1['cons.price.idx'].mean()

93.57963746958636

In [129]:
df1['cons.price.idx'] = df1['cons.price.idx'].fillna(df1['cons.price.idx'].mean())

In [130]:
df1[df1.isnull().any(axis=1)]

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
21,39.0,technician,divorced,high.school,no,no,no,cellular,mar,mon,...,1.0,12.0,2.0,success,-1.8,93.369,-34.8,0.639,NaN,yes
30,38.0,technician,married,university.degree,no,yes,yes,cellular,mar,tue,...,1.0,999.0,1.0,failure,-1.8,92.843,-50.0,1.687,NaN,no
36,NaN,blue-collar,married,basic.6y,no,yes,no,telephone,may,wed,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,no
44,32.0,housemaid,married,basic.4y,no,yes,yes,cellular,may,fri,...,1.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,NaN,5099.1,no
193,47.0,services,single,basic.9y,no,no,no,cellular,nov,tue,...,2.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,NaN,5195.8,no
433,NaN,admin,single,university.degree,no,yes,no,cellular,aug,thu,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
538,NaN,management,married,high.school,no,yes,no,cellular,aug,wed,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no

In [131]:
df1['euribor3m'].mean()

3.6216222330333254

In [132]:
df1['euribor3m'] = df1['euribor3m'].fillna(df1['euribor3m'].mean())

In [133]:
df1[df1.isnull().any(axis=1)]

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
21,39.0,technician,divorced,high.school,no,no,no,cellular,mar,mon,...,1.0,12.0,2.0,success,-1.8,93.369,-34.8,0.639,NaN,yes
30,38.0,technician,married,university.degree,no,yes,yes,cellular,mar,tue,...,1.0,999.0,1.0,failure,-1.8,92.843,-50.0,1.687,NaN,no
36,NaN,blue-collar,married,basic.6y,no,yes,no,telephone,may,wed,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,no
433,NaN,admin,single,university.degree,no,yes,no,cellular,aug,thu,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
538,NaN,management,married,high.school,no,yes,no,cellular,aug,wed,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no

In [134]:
df1['nr.employed'].mean()

5166.518316711264

In [135]:
df1['nr.employed'] = df1['nr.employed'].fillna(df1['nr.employed'].mean())

In [136]:
df1[df1.isnull().any(axis=1)]

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
36,NaN,blue-collar,married,basic.6y,no,yes,no,telephone,may,wed,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,no
433,NaN,admin,single,university.degree,no,yes,no,cellular,aug,thu,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
538,NaN,management,married,high.school,no,yes,no,cellular,aug,wed,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no

In [137]:
round(df1['age'].mean())

40.0

In [138]:
df1['age'] = df1['age'].fillna(round(df1['age'].mean()))

In [139]:
df1[df1.isnull().any(axis=1)]

Empty DataFrame
Columns: [age, job, marital, education, default, housing, loan, contact, month, day_of_week, duration, campaign, pdays, previous, poutcome, emp.var.rate, cons.price.idx, cons.conf.idx, euribor3m, nr.employed, y]
Index: []

[0 rows x 21 columns]

In [140]:
df1

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30.0,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.100000,no
1,39.0,services,single,high.school,no,no,no,telephone,may,fri,...,4.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.000000,no
2,25.0,services,married,high.school,no,yes,no,telephone,jun,wed,...,1.0,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.962,5228.100000,no
3,38.0,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3.0,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.959,5228.100000,no
4,47.0,admin,married,university.degree,no,yes,no,cellular,nov,mon,...,1.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.191,5195.800000,no
5,32.0,services,single,university.degree,no,no,no,cellular,sep,thu,...,3.0,999.0,2.0,failure,-1.1,94.199,-37.5,0.884,4963.600000,no
6,32.0,admin,single,university.degree,no,yes,no,cellular,sep,mon,...,4.0,999.0,0.0,nonexistent,-1.1,94.199,-37.5,0.879,4963.600000,no
7,41.0,entrepreneur,married,university.degree,unknown,yes,no,cellular,nov,mon,...,2.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.191,5195.800000,no
8,31.0,services,divorced,professional.course,no,no,no,cellular,nov,tue,...,1.0,999.0,1.0,failure,-0.1,93.200,-42.0,4.153,5195.800000,no
9,35.0,blue-collar,married,basic.9y,unknown,no,no,telephone,may,thu,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.000000,no
10,25.0,services,single,basic.6y,unknown,yes,no,cellular,jul,thu,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.958,5228.100000,no
11,36.0,self-employed,single,basic.4y,no,no,no,cellular,jul,thu,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.968,5228.100000,no
12,36.0,admin,married,high.school,no,no,no,telephone,may,wed,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.859,5191.000000,no
13,47.0,blue-collar,married,basic.4y,no,yes,no,telephone,jun,thu,...,2.0,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.958,5228.100000,no
14,29.0,admin,single,high.school,no,no,no,cellular,may,fri,...,2.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.100000,no
15,27.0,services,single,university.degree,no,no,no,cellular,jul,wed,...,2.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.963,5228.100000,no
16,44.0,admin,divorced,university.degree,no,no,no,cellular,jul,wed,...,6.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.957,5228.100000,no
17,46.0,admin,divorced,university.degree,no,yes,no,telephone,jul,mon,...,4.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.962,5228.100000,no
18,45.0,entrepreneur,married,university.degree,unknown,yes,yes,cellular,aug,mon,...,2.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.100000,no
19,50.0,blue-collar,married,basic.4y,no,no,yes,cellular,jul,tue,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.100000,yes
20,55.0,services,married,basic.6y,unknown,yes,no,cellular,jul,tue,...,6.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.962,5228.100000,no
21,39.0,technician,divorced,high.school,no,no,no,cellular,mar,mon,...,1.0,12.0,2.0,success,-1.8,93.369,-34.8,0.639,5166.518317,yes
22,29.0,technician,single,university.degree,no,yes,yes,cellular,aug,wed,...,3.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.967,5228.100000,no
23,40.0,management,married,high.school,no,no,yes,cellular,aug,wed,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.100000,no
24,44.0,technician,married,professional.course,unknown,yes,no,telephone,may,fri,...,7.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.864,5191.000000,no
25,38.0,technician,married,professional.course,no,yes,no,cellular,aug,mon,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.100000,yes
26,36.0,technician,divorced,professional.course,no,no,no,telephone,may,wed,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.856,5191.000000,no
27,28.0,blue-collar,married,basic.6y,unknown,no,no,cellular,may,mon,...,2.0,999.0,1.0,failure,-1.8,92.893,-46.2,1.299,5099.100000,no
28,47.0,admin,single,illiterate,unknown,no,no,telephone,may,thu,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.860,5191.000000,no
29,34.0,admin,married,university.degree,no,no,no,cellular,aug,tue,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.100000,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4089,25.0,admin,single,university.degree,no,yes,yes,cellular,oct,fri,...,1.0,999.0,1.0,failure,-3.4,92.431,-26.9,0.739,5017.500000,yes
4090,43.0,blue-collar,married,basic.4y,unknown,yes,yes,telephone,may,tue,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.000000,no
4091,38.0,management,married,high.school,unknown,no,no,telephone,may,thu,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.860,5191.000000,no
4092,30.0,blue-collar,single,high.school,no,no,no,telephone,jul,wed,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.956,5228.100000,no
4093,56.0,retired,married,basic.4y,unknown,no,no,cellular,jul,tue,...,3.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.100000,no
4094,62.0,blue-collar,married,basic.4y,no,yes,no,cellular,nov,mon,...,1.0,6.0,1.0,success,-3.4,92.649,-30.1,0.719,5017.500000,no
4095,36.0,admin,single,university.degree,no,no,yes,cellular,aug,fri,...,2.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.100000,no
4096,33.0,services,married,high.school,no,no,no,telephone,may,mon,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.000000,no
4097,41.0,blue-collar,divorced,basic.9y,no,no,no,cellular,aug,tue,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.100000,no
4098,34.0,housemaid,single,university.degree,no,yes,no,cellular,aug,thu,...,3.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.100000,no
4099,58.0,admin,divorced,high.school,no,no,no,cellular,aug,tue,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.100000,no
4100,41.0,admin,divorced,high.school,no,no,no,cellular,apr,fri,...,1.0,999.0,0.0,nonexistent,-1.8,93.075,-47.1,1.405,5099.100000,no
4101,35.0,entrepreneur,single,university.degree,no,yes,no,cellular,jul,mon,...,5.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.960,5228.100000,no
4102,31.0,blue-collar,single,basic.9y,unknown,no,yes,telephone,jun,fri,...,2.0,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.959,5228.100000,no
4103,43.0,services,married,high.school,no,no,no,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.000000,no
4104,42.0,technician,divorced,professional.course,no,yes,no,cellular,aug,mon,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.970,5228.100000,no
4105,47.0,housemaid,married,basic.4y,unknown,yes,no,telephone,jul,tue,...,2.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.100000,no
4106,45.0,entrepreneur,divorced,basic.9y,no,yes,no,cellular,may,tue,...,3.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.344,5099.100000,no
4107,36.0,admin,married,university.degree,unknown,yes,no,cellular,aug,wed,...,11.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.964,5228.100000,no
4108,32.0,admin,married,university.degree,no,yes,no,telephone,may,thu,...,5.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.266,5099.100000,no
4109,63.0,retired,married,high.school,no,no,no,cellular,oct,wed,...,1.0,999.0,0.0,nonexistent,-3.4,92.431,-26.9,0.740,5017.500000,no
4110,53.0,housemaid,divorced,basic.6y,unknown,unknown,unknown,telephone,may,fri,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.000000,no
4111,30.0,technician,married,university.degree,no,no,yes,cellular,jun,fri,...,1.0,999.0,1.0,failure,-1.7,94.055,-39.8,0.748,4991.600000,no
4112,31.0,technician,single,professional.course,no,yes,no,cellular,nov,thu,...,1.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.076,5195.800000,no
4113,31.0,admin,single,university.degree,no,yes,no,cellular,nov,thu,...,1.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.076,5195.800000,no
4114,30.0,admin,married,basic.6y,no,yes,yes,cellular,jul,thu,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.958,5228.100000,no
4115,39.0,admin,married,high.school,no,yes,no,telephone,jul,fri,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.959,5228.100000,no
4116,27.0,student,single,high.school,no,no,no,cellular,may,mon,...,2.0,999.0,1.0,failure,-1.8,92.893,-46.2,1.354,5099.100000,no
4117,58.0,admin,married,high.school,no,no,no,cellular,aug,fri,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.966,5228.100000,no
4118,34.0,management,single,high.school,no,yes,no,cellular,nov,wed,...,1.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.120,5195.800000,no

ROUNDING OFF THE NUMBER OF EMPLOYEES

In [141]:
df1['nr.employed'] = df1['nr.employed'].round(0)

In [142]:
df1

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30.0,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.0,no
1,39.0,services,single,high.school,no,no,no,telephone,may,fri,...,4.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25.0,services,married,high.school,no,yes,no,telephone,jun,wed,...,1.0,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.962,5228.0,no
3,38.0,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3.0,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.959,5228.0,no
4,47.0,admin,married,university.degree,no,yes,no,cellular,nov,mon,...,1.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.191,5196.0,no
5,32.0,services,single,university.degree,no,no,no,cellular,sep,thu,...,3.0,999.0,2.0,failure,-1.1,94.199,-37.5,0.884,4964.0,no
6,32.0,admin,single,university.degree,no,yes,no,cellular,sep,mon,...,4.0,999.0,0.0,nonexistent,-1.1,94.199,-37.5,0.879,4964.0,no
7,41.0,entrepreneur,married,university.degree,unknown,yes,no,cellular,nov,mon,...,2.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.191,5196.0,no
8,31.0,services,divorced,professional.course,no,no,no,cellular,nov,tue,...,1.0,999.0,1.0,failure,-0.1,93.200,-42.0,4.153,5196.0,no
9,35.0,blue-collar,married,basic.9y,unknown,no,no,telephone,may,thu,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
10,25.0,services,single,basic.6y,unknown,yes,no,cellular,jul,thu,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.958,5228.0,no
11,36.0,self-employed,single,basic.4y,no,no,no,cellular,jul,thu,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.968,5228.0,no
12,36.0,admin,married,high.school,no,no,no,telephone,may,wed,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,no
13,47.0,blue-collar,married,basic.4y,no,yes,no,telephone,jun,thu,...,2.0,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.958,5228.0,no
14,29.0,admin,single,high.school,no,no,no,cellular,may,fri,...,2.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.313,5099.0,no
15,27.0,services,single,university.degree,no,no,no,cellular,jul,wed,...,2.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.963,5228.0,no
16,44.0,admin,divorced,university.degree,no,no,no,cellular,jul,wed,...,6.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.957,5228.0,no
17,46.0,admin,divorced,university.degree,no,yes,no,telephone,jul,mon,...,4.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.962,5228.0,no
18,45.0,entrepreneur,married,university.degree,unknown,yes,yes,cellular,aug,mon,...,2.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.0,no
19,50.0,blue-collar,married,basic.4y,no,no,yes,cellular,jul,tue,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.0,yes
20,55.0,services,married,basic.6y,unknown,yes,no,cellular,jul,tue,...,6.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.962,5228.0,no
21,39.0,technician,divorced,high.school,no,no,no,cellular,mar,mon,...,1.0,12.0,2.0,success,-1.8,93.369,-34.8,0.639,5167.0,yes
22,29.0,technician,single,university.degree,no,yes,yes,cellular,aug,wed,...,3.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.967,5228.0,no
23,40.0,management,married,high.school,no,no,yes,cellular,aug,wed,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.0,no
24,44.0,technician,married,professional.course,unknown,yes,no,telephone,may,fri,...,7.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.864,5191.0,no
25,38.0,technician,married,professional.course,no,yes,no,cellular,aug,mon,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.965,5228.0,yes
26,36.0,technician,divorced,professional.course,no,no,no,telephone,may,wed,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,no
27,28.0,blue-collar,married,basic.6y,unknown,no,no,cellular,may,mon,...,2.0,999.0,1.0,failure,-1.8,92.893,-46.2,1.299,5099.0,no
28,47.0,admin,single,illiterate,unknown,no,no,telephone,may,thu,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,no
29,34.0,admin,married,university.degree,no,no,no,cellular,aug,tue,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4089,25.0,admin,single,university.degree,no,yes,yes,cellular,oct,fri,...,1.0,999.0,1.0,failure,-3.4,92.431,-26.9,0.739,5018.0,yes
4090,43.0,blue-collar,married,basic.4y,unknown,yes,yes,telephone,may,tue,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4091,38.0,management,married,high.school,unknown,no,no,telephone,may,thu,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,no
4092,30.0,blue-collar,single,high.school,no,no,no,telephone,jul,wed,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.956,5228.0,no
4093,56.0,retired,married,basic.4y,unknown,no,no,cellular,jul,tue,...,3.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.0,no
4094,62.0,blue-collar,married,basic.4y,no,yes,no,cellular,nov,mon,...,1.0,6.0,1.0,success,-3.4,92.649,-30.1,0.719,5018.0,no
4095,36.0,admin,single,university.degree,no,no,yes,cellular,aug,fri,...,2.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.0,no
4096,33.0,services,married,high.school,no,no,no,telephone,may,mon,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4097,41.0,blue-collar,divorced,basic.9y,no,no,no,cellular,aug,tue,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.0,no
4098,34.0,housemaid,single,university.degree,no,yes,no,cellular,aug,thu,...,3.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.0,no
4099,58.0,admin,divorced,high.school,no,no,no,cellular,aug,tue,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.963,5228.0,no
4100,41.0,admin,divorced,high.school,no,no,no,cellular,apr,fri,...,1.0,999.0,0.0,nonexistent,-1.8,93.075,-47.1,1.405,5099.0,no
4101,35.0,entrepreneur,single,university.degree,no,yes,no,cellular,jul,mon,...,5.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.960,5228.0,no
4102,31.0,blue-collar,single,basic.9y,unknown,no,yes,telephone,jun,fri,...,2.0,999.0,0.0,nonexistent,1.4,94.465,-41.8,4.959,5228.0,no
4103,43.0,services,married,high.school,no,no,no,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4104,42.0,technician,divorced,professional.course,no,yes,no,cellular,aug,mon,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.970,5228.0,no
4105,47.0,housemaid,married,basic.4y,unknown,yes,no,telephone,jul,tue,...,2.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.0,no
4106,45.0,entrepreneur,divorced,basic.9y,no,yes,no,cellular,may,tue,...,3.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.344,5099.0,no
4107,36.0,admin,married,university.degree,unknown,yes,no,cellular,aug,wed,...,11.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.964,5228.0,no
4108,32.0,admin,married,university.degree,no,yes,no,telephone,may,thu,...,5.0,999.0,0.0,nonexistent,-1.8,92.893,-46.2,1.266,5099.0,no
4109,63.0,retired,married,high.school,no,no,no,cellular,oct,wed,...,1.0,999.0,0.0,nonexistent,-3.4,92.431,-26.9,0.740,5018.0,no
4110,53.0,housemaid,divorced,basic.6y,unknown,unknown,unknown,telephone,may,fri,...,2.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
4111,30.0,technician,married,university.degree,no,no,yes,cellular,jun,fri,...,1.0,999.0,1.0,failure,-1.7,94.055,-39.8,0.748,4992.0,no
4112,31.0,technician,single,professional.course,no,yes,no,cellular,nov,thu,...,1.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.076,5196.0,no
4113,31.0,admin,single,university.degree,no,yes,no,cellular,nov,thu,...,1.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.076,5196.0,no
4114,30.0,admin,married,basic.6y,no,yes,yes,cellular,jul,thu,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.958,5228.0,no
4115,39.0,admin,married,high.school,no,yes,no,telephone,jul,fri,...,1.0,999.0,0.0,nonexistent,1.4,93.918,-42.7,4.959,5228.0,no
4116,27.0,student,single,high.school,no,no,no,cellular,may,mon,...,2.0,999.0,1.0,failure,-1.8,92.893,-46.2,1.354,5099.0,no
4117,58.0,admin,married,high.school,no,no,no,cellular,aug,fri,...,1.0,999.0,0.0,nonexistent,1.4,93.444,-36.1,4.966,5228.0,no
4118,34.0,management,single,high.school,no,yes,no,cellular,nov,wed,...,1.0,999.0,0.0,nonexistent,-0.1,93.200,-42.0,4.120,5196.0,no

In [143]:
df1.to_csv('clean_data.csv')